<div th:fragment="introduction">
    <div class="introduction">
        <img class="comp_img" src="/static/images/aboutus/image_company.png">
        <div class="info_content">
            <p>
                西安冠铭科技股份有限公司成立于2015年，是一家专业从事陕西校园网络,陕西高校信息化,陕西智慧校园,陕西无线wifi覆盖的应用和服务的公司。冠铭科技致力发展校园wifi基础建设，在此基础上研发校园管理app，打造智慧校园管理体系，服务于学校，教师，家长，学生。冠铭科技高校智慧校园建设，高校智慧校园网运营服务商和解决方案供应商。为广大高校用户提供零投资建设智慧校园基础网络和运维服务，同时研发团队结合多年学校教学和教务管理经验，为用户提供卓越的教育信息化解决方案。
            </p>
            <p>
                目前公司的企业团队，研发人员占50%以上，10年以上校园网络产品研发经验的技术人员占比20%以上，公司所有产品均为自主研发。拥有完善的售前售后服务，具备一支专业的可提供网络规划，现场施工指导，网优工作的工程师团队。
            </p>
            <p>
                冠铭智慧校园解决方案，从泛载的基础网络建设，到基于大数据和物联网技术的教学信息化全生态系统、教务决策管理系统，为广大高校用户提供智慧校园一体化解决方案。
            </p>
            <p>
                此外，通过冠铭打造的移动端生活平台，向学生提供兼职机会，使学生能够享受更多优惠的网络资源。依托自主研发的大数据服务平台及私有云分布式系统，冠铭可为高校提供学生学习、生活、工作等方面的大数据决策系统，辅助高校开展个性化人才培养，并通过冠铭配套产业基金及人才养成计划，与高校共建创新型创业平台，创造精英人群的未来。
            </p>
        </div>
    </div>
</div>