<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.student.mapper.StudentMapper">

    <resultMap id="StuFamMap" type="com.gmunidata.student.model.StudentFamily">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="relation" jdbcType="VARCHAR" property="relation"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="work_unit" jdbcType="VARCHAR" property="workUnit"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
    </resultMap>

    <resultMap id="StuResMap" type="com.gmunidata.student.model.StudentResume">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="e_time" jdbcType="TIMESTAMP" property="eTime"/>
        <result column="g_time" jdbcType="TIMESTAMP" property="gTime"/>
        <result column="voucher" jdbcType="VARCHAR" property="voucher"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
    </resultMap>

    <resultMap id="StudentMap" type="com.gmunidata.student.model.Student">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="subject_id" jdbcType="VARCHAR" property="subjectId"/>
        <result column="class_id" jdbcType="VARCHAR" property="classId"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="way" jdbcType="VARCHAR" property="way"/>
        <result column="lc" jdbcType="VARCHAR" property="lc"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="identity" jdbcType="VARCHAR" property="identity"/>
        <result column="e_time" jdbcType="TIMESTAMP" property="eTime"/>
        <result column="g_time" jdbcType="TIMESTAMP" property="gTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="home_phone" jdbcType="VARCHAR" property="homePhone"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus"/>
        <result column="other_party" jdbcType="VARCHAR" property="otherParty"/>
        <result column="g_school" jdbcType="TIMESTAMP" property="gSchool"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="category_type" jdbcType="VARCHAR" property="categoryType"/>
        <result column="e_type" jdbcType="VARCHAR" property="eType"/>
        <result column="hkm" jdbcType="VARCHAR" property="hkm"/>
        <result column="class_name" jdbcType="VARCHAR" property="className"/>
    </resultMap>

    <resultMap id="LoginInfo" type="com.gmunidata.student.model.LoginInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="student_code" jdbcType="VARCHAR" property="studentCode"/>
        <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>



    <insert id="addStudent" parameterType="com.gmunidata.student.model.Student">
    insert into sc_gmuni_student (id, name,code,dept_id,subject_id,class_id,sex,status,nation,way,lc,birthday,identity,
         e_time,g_time,address,home_phone,phone,email,politics_status,other_party,g_school,type,category_type,e_type,hkm)
    values (
    #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},#{deptId,jdbcType=VARCHAR},
    #{subjectId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},
    #{status,jdbcType=VARCHAR},#{nation,jdbcType=VARCHAR},#{way,jdbcType=VARCHAR},
    #{lc,jdbcType=VARCHAR},#{birthday,jdbcType=TIMESTAMP},#{identity,jdbcType=VARCHAR},
    #{eTime,jdbcType=TIMESTAMP},#{gTime,jdbcType=TIMESTAMP},#{address,jdbcType=VARCHAR},
    #{homePhone,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
    #{politicsStatus,jdbcType=VARCHAR},#{otherParty,jdbcType=VARCHAR},#{gSchool,jdbcType=VARCHAR},
    #{type,jdbcType=VARCHAR},#{categoryType,jdbcType=VARCHAR},#{eType,jdbcType=VARCHAR},
    #{hkm,jdbcType=VARCHAR})
  </insert>

    <insert id="addStudentFamily" parameterType="com.gmunidata.student.model.StudentFamily">
        insert into sc_gmuni_student_family (id, name,relation,address, telephone,work_unit,student_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.relation,jdbcType=VARCHAR},
            #{item.address,jdbcType=VARCHAR}, #{item.telephone,jdbcType=VARCHAR},#{item.workUnit,jdbcType=VARCHAR},
            #{item.studentId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="addStudentResume" parameterType="com.gmunidata.student.model.StudentResume">
        insert into sc_gmuni_student_resume (id,school,e_time,g_time,voucher,telephone,student_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.school,jdbcType=VARCHAR}, #{item.eTime,jdbcType=TIMESTAMP},
            #{item.gTime,jdbcType=TIMESTAMP}, #{item.voucher,jdbcType=VARCHAR},#{item.telephone,jdbcType=VARCHAR},#{item.studentId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateStudent" parameterType="com.gmunidata.student.model.Student">
    update sc_gmuni_student set
    name = #{name,jdbcType=VARCHAR},
    dept_id = #{deptId,jdbcType=VARCHAR},
    subject_id = #{subjectId,jdbcType=VARCHAR},
    class_id = #{classId,jdbcType=VARCHAR},
    sex = #{sex,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    nation = #{nation,jdbcType=VARCHAR},
    way = #{way,jdbcType=VARCHAR},
    lc = #{lc,jdbcType=VARCHAR},
    birthday = #{birthday,jdbcType=TIMESTAMP},
    identity = #{identity,jdbcType=VARCHAR},
    e_time = #{eTime,jdbcType=TIMESTAMP},
    g_time = #{gTime,jdbcType=TIMESTAMP},
    address = #{address,jdbcType=VARCHAR},
    home_phone = #{homePhone,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    politics_status = #{politicsStatus,jdbcType=VARCHAR},
    other_party =  #{otherParty,jdbcType=VARCHAR},
    g_school = #{gSchool,jdbcType=VARCHAR},
    type = #{type,jdbcType=VARCHAR},
    category_type = #{categoryType,jdbcType=VARCHAR},
    e_type = #{eType,jdbcType=VARCHAR},
    hkm = #{hkm,jdbcType=VARCHAR}
      where id = #{id,jdbcType=VARCHAR}
  </update>

    <update id="updateStudentFamily" parameterType="com.gmunidata.student.model.StudentFamily">
    update sc_gmuni_student_family set
     name = #{name,jdbcType=VARCHAR},
     relation = #{relation,jdbcType=VARCHAR},
     address = #{address,jdbcType=VARCHAR},
     telephone = #{telephone,jdbcType=VARCHAR},
     work_unit = #{workUnit,jdbcType=VARCHAR}
       where id = #{id,jdbcType=VARCHAR}
  </update>

    <update id="updateStudentResume" parameterType="com.gmunidata.student.model.StudentResume">
    update sc_gmuni_student_resume set
     school = #{school,jdbcType=VARCHAR},
     e_time = #{eTime,jdbcType=TIMESTAMP},
     g_time = #{gTime,jdbcType=TIMESTAMP},
     voucher = #{voucher,jdbcType=VARCHAR},
     telephone = #{telephone,jdbcType=VARCHAR}
     where id = #{id,jdbcType=VARCHAR}
  </update>

    <delete id="delStudent" parameterType="java.lang.String">
        delete from sc_gmuni_student where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <delete id="delStudentFam" parameterType="java.lang.String">
        delete from sc_gmuni_student_family where student_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectCodeById" parameterType="java.lang.String" resultType="java.lang.String">
    select code from sc_gmuni_student where id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
</select>

    <delete id="deleteLogin" parameterType="java.lang.String">
        delete from sc_gmuni_login where student_code in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



    <delete id="delStudentRes" parameterType="java.lang.String">
        delete from sc_gmuni_student_resume where student_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="cheakCode" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from sc_gmuni_student where code = #{code,jdbcType=VARCHAR}
        <if test="id!=null and id !=''">
            and  id !=#{id,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="listStudent" parameterType="java.util.Map" resultType="com.gmunidata.student.model.Student">
        select s.id AS id, s.name AS name ,s.code AS code,s.dept_id AS deptId, s.subject_id AS subjectId,s.class_id AS classId,s.sex AS sex,
        s.status AS status,s.nation AS nation,s.way AS way,s.lc AS lc,s.birthday AS birthday,s.identity AS identity,
        s.e_time AS eTime,s.g_time AS gTime,s.address AS address,s.home_phone AS homePhone,s.phone AS phone,s.email AS email,
        s.politics_status AS politicsStatus,s.other_party AS otherParty,s.g_school AS gSchool,s.type AS type,
        s.category_type AS categoryType,s.e_type AS eType,s.hkm AS hkm,c.name AS className,d.name AS deptName,d1.name AS subjectName
        from sc_gmuni_student s inner join sc_gmuni_class c on s.class_id = c.code inner join pf_gmuni_department d on s.dept_id =d.code
        inner join  pf_gmuni_department d1 on s.subject_id =d1.code
        <where>
            <if test="name!=null and name!=''">
                and  s.name like CONCAT('%',#{name,jdbcType=VARCHAR} ,'%')

            </if>
            <if test="code!=null and code!=''">
                and s.code like CONCAT('%',#{code,jdbcType=VARCHAR} ,'%')
            </if>
        </where>
        order by s.dept_id,s.subject_id,s.class_id,s.code asc
    </select>

    <select id="outStudent"  resultType="com.gmunidata.student.model.Student">
        select  s.name AS name ,s.code AS code,s.dept_id AS deptId, s.subject_id AS subjectId,s.class_id AS classId,s.sex AS sex,
        s.status AS status,s.nation AS nation,s.way AS way,s.lc AS lc,s.birthday AS birthday,s.identity AS identity,
        s.e_time AS eTime,s.g_time AS gTime,s.address AS address,s.home_phone AS homePhone,s.phone AS phone,s.email AS email,
        s.politics_status AS politicsStatus,s.other_party AS otherParty,s.g_school AS gSchool,s.type AS type,
        s.category_type AS categoryType,s.e_type AS eType,s.hkm AS hkm,c.name AS className,d.name AS deptName,d1.name AS subjectName
        from sc_gmuni_student s inner join sc_gmuni_class c on s.class_id = c.code inner join pf_gmuni_department d on s.dept_id =d.code
        inner join  pf_gmuni_department d1 on s.subject_id =d1.code
        order by d.name,d1.name,c.name,s.e_time,s.code asc
    </select>


    <select id="listFam" parameterType="java.lang.String" resultMap="StuFamMap">
        select id, name,relation,address, telephone,work_unit,student_id from sc_gmuni_student_family where student_id=#{studentId,jdbcType=VARCHAR}
    </select>

    <select id="listRes" parameterType="java.lang.String" resultMap="StuResMap">
         select id, school,e_time,g_time, voucher,telephone,student_id from  sc_gmuni_student_resume where student_id=#{studentId,jdbcType=VARCHAR}
    </select>


    <update id="createTemp" parameterType="java.lang.String">
        create  table  ${_parameter} (
	       `id` varchar (96),
	       `name` varchar (600),
	       `code` varchar (600),
	       `dept_name` varchar (600),
	       `subject_name` varchar (600),
	       `class_name` varchar (600),
	       `sex` varchar (150),
	       `status` varchar (30),
	       `nation` varchar (600),
	       `way` varchar (600),
	       `lc` varchar (600),
	       `birthday` date ,
	       `identity` varchar (600),
	       `e_time` date ,
	       `g_time` date ,
	       `address` varchar (600),
	       `home_phone` varchar (600),
	       `phone` varchar (600),
	       `email` varchar (600),
	       `politics_status` varchar (600),
	       `other_party` varchar (600),
	       `g_school` varchar (600),
	       `type` varchar (600),
	       `category_type` varchar (600),
	       `e_type` varchar (600),
	       `hkm` varchar (30),
	        PRIMARY KEY (id))
    </update>

    <delete id="delAll">
          truncate table sc_gmuni_student
    </delete>

    <update id="dropTemp" parameterType="java.lang.String">
         drop table IF EXISTS  ${_parameter}
    </update>

    <select id="selectRepet" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT code  FROM   ${_parameter} GROUP BY code HAVING COUNT(1) > 1
    </select>

    <insert id="listAddTemp">
        insert into  ${arg0} (id, name,code,dept_name,subject_name,class_name,sex,status,nation,way,lc,birthday,identity,
        e_time,g_time,address,home_phone,phone,email,politics_status,other_party,g_school,type,category_type,e_type,hkm) values
        <foreach collection="arg1" item="item" index="index" separator=",">
            ( #{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR},#{item.deptName,jdbcType=VARCHAR},
            #{item.subjectName,jdbcType=VARCHAR}, #{item.className,jdbcType=VARCHAR},#{item.sex,jdbcType=VARCHAR},
            #{item.status,jdbcType=VARCHAR},#{item.nation,jdbcType=VARCHAR},#{item.way,jdbcType=VARCHAR},
            #{item.lc,jdbcType=VARCHAR},#{item.birthday,jdbcType=TIMESTAMP},#{item.identity,jdbcType=VARCHAR},
            #{item.eTime,jdbcType=TIMESTAMP},#{item.gTime,jdbcType=TIMESTAMP},#{item.address,jdbcType=VARCHAR},
            #{item.homePhone,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},#{item.email,jdbcType=VARCHAR},
            #{item.politicsStatus,jdbcType=VARCHAR},#{item.otherParty,jdbcType=VARCHAR},#{item.gSchool,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR},#{item.categoryType,jdbcType=VARCHAR},#{item.eType,jdbcType=VARCHAR},
            #{item.hkm,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="listAddStudent" parameterType="com.gmunidata.student.model.Student">
        insert into sc_gmuni_student (id, name,code,dept_id,subject_id,class_id,sex,status,nation,way,lc,birthday,identity,
        e_time,g_time,address,home_phone,phone,email,politics_status,other_party,g_school,type,category_type,e_type,hkm) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR},#{item.deptId,jdbcType=VARCHAR},
            #{item.subjectId,jdbcType=VARCHAR}, #{item.classId,jdbcType=VARCHAR},#{item.sex,jdbcType=VARCHAR},
            #{item.status,jdbcType=VARCHAR},#{item.nation,jdbcType=VARCHAR},#{item.way,jdbcType=VARCHAR},
            #{item.lc,jdbcType=VARCHAR},#{item.birthday,jdbcType=TIMESTAMP},#{item.identity,jdbcType=VARCHAR},
            #{item.eTime,jdbcType=TIMESTAMP},#{item.gTime,jdbcType=TIMESTAMP},#{item.address,jdbcType=VARCHAR},
            #{item.homePhone,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},#{item.email,jdbcType=VARCHAR},
            #{item.politicsStatus,jdbcType=VARCHAR},#{item.otherParty,jdbcType=VARCHAR},#{item.gSchool,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR},#{item.categoryType,jdbcType=VARCHAR},#{item.eType,jdbcType=VARCHAR},
            #{item.hkm,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="tempAll" parameterType="java.lang.String" resultType="com.gmunidata.student.model.Student">
       select  t.id as id,t.name AS name ,t.code AS code,d.code AS deptId, d1.code AS subjectId,c.code AS classId,t.sex AS sex,
        t.status AS status,t.nation AS nation,t.way AS way,t.lc AS lc,t.birthday AS birthday,t.identity AS identity,
        t.e_time AS eTime,t.g_time AS gTime,t.address AS address,t.home_phone AS homePhone,t.phone AS phone,t.email AS email,
        t.politics_status AS politicsStatus,t.other_party AS otherParty,t.g_school AS gSchool,t.type AS type,
        t.category_type AS categoryType,t.e_type AS eType,t.hkm AS hkm
        from  ${_parameter} t left join sc_gmuni_class c on t.class_name = c.name left join pf_gmuni_department d on (t.dept_name = d.name and d.faculty = 'xy')
        left join  pf_gmuni_department d1 on (t.subject_name =d1.name and d1.faculty = 'xk')

     </select>

    <select id="tempHalf" parameterType="java.lang.String" resultType="com.gmunidata.student.model.Student">
        select  t.id as id,t.name AS name ,t.code AS code,d.code AS deptId, d1.code AS subjectId,c.code AS classId,t.sex AS sex,
        t.status AS status,t.nation AS nation,t.way AS way,t.lc AS lc,t.birthday AS birthday,t.identity AS identity,
        t.e_time AS eTime,t.g_time AS gTime,t.address AS address,t.home_phone AS homePhone,t.phone AS phone,t.email AS email,
        t.politics_status AS politicsStatus,t.other_party AS otherParty,t.g_school AS gSchool,t.type AS type,
        t.category_type AS categoryType,t.e_type AS eType,t.hkm AS hkm
        from  ${_parameter} t left join sc_gmuni_class c on t.class_name = c.name left join pf_gmuni_department d on (t.dept_name = d.name and d.faculty = 'xy')
        left join  pf_gmuni_department d1 on (t.subject_name =d1.name and d1.faculty = 'xk') where not exists (select c.code from sc_gmuni_student c where c.code= t.code)
    </select>

    <select id="checkTabCode" parameterType="java.lang.String"  resultType="java.lang.String">
        SELECT s.code AS code FROM sc_gmuni_student s INNER JOIN  ${_parameter} t ON s.code = t.code
    </select>

    <delete id="deleteReptCode" parameterType="java.lang.String">
        delete from sc_gmuni_student where code in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="delLoginAll">
          truncate table sc_gmuni_login
    </delete>

    <delete id="deleteLoginReptCode" parameterType="java.lang.String">
        delete from sc_gmuni_login where student_code in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="addLoginInfo" parameterType="com.gmunidata.student.model.LoginInfo">
        insert into sc_gmuni_login(id,student_code,login_pwd,status)
        values
        (#{id,jdbcType=VARCHAR}, #{studentCode,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
    </insert>

    <select id="getByCode" resultMap="LoginInfo" parameterType="java.lang.String">
        SELECT id,student_code,login_pwd,status FROM sc_gmuni_login WHERE student_code = #{code,jdbcType=VARCHAR}
    </select>

    <insert id="addLogInfoUser" parameterType="com.gmunidata.student.model.LoginInfo">
        insert into sc_gmuni_login(id,student_code,login_pwd,status)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.studentCode,jdbcType=VARCHAR}, #{item.loginPwd,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updatePwdByCode" parameterType="java.lang.String">
        update sc_gmuni_login set login_pwd =#{loginPwd,jdbcType=VARCHAR}  where student_code =#{studentCode,jdbcType=VARCHAR}
    </update>

    <select id="getIdentityByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select  identity  from sc_gmuni_student where code =#{code,jdbcType=VARCHAR}
    </select>
</mapper>