<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmuni.sc.express.mapper.ExpressMapper">

    <resultMap id="BaseResultMap" type="cn.gmuni.sc.express.model.Express">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="bussiness_id" jdbcType="VARCHAR" property="bussinessId"/>
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="exp_no" jdbcType="VARCHAR" property="expNo"/>
        <result column="exp_name" jdbcType="VARCHAR" property="expName"/>
        <result column="exp_code" jdbcType="VARCHAR" property="expCode"/>
        <result column="exp_logo" jdbcType="VARCHAR" property="expLogo"/>
        <result column="information" jdbcType="VARCHAR" property="information"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="user_info" jdbcType="VARCHAR" property="userInfo"/>
        <result column="campus" jdbcType="VARCHAR" property="campus"/>
        <result column="click_through" jdbcType="DECIMAL" property="clickThrough"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <delete id="delete" parameterType="java.lang.String">
              DELETE FROM sc_gmuni_express
              WHERE id= #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="add" parameterType="cn.gmuni.sc.express.model.Express">
            INSERT INTO sc_gmuni_express (id, bussiness_id, order_code, exp_no, exp_name, exp_code, exp_logo, information, state, user_info, campus, click_through, create_time, update_time)
	           VALUES(
	                    #{id,jdbcType=VARCHAR}, #{bussinessId,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR},
	                    #{expNo,jdbcType=VARCHAR},#{expName,jdbcType=VARCHAR},#{expCode,jdbcType=VARCHAR},#{expLogo,jdbcType=VARCHAR},#{information,jdbcType=VARCHAR},
	                    #{state,jdbcType=VARCHAR},#{userInfo,jdbcType=VARCHAR},#{campus,jdbcType=VARCHAR},#{clickThrough,jdbcType=DECIMAL},
	                    #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP});
    </insert>
    <update id="update" parameterType="cn.gmuni.sc.express.model.Express">
		   update sc_gmuni_express set
            information = #{information,jdbcType=VARCHAR},
            state = #{state,jdbcType=VARCHAR},
            click_through = #{clickThrough,jdbcType=DECIMAL},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
		   where  id = #{id,jdbcType=VARCHAR}
	</update>

    <select id="findExpressById" parameterType="java.lang.String" resultMap="BaseResultMap">
                   SELECT 	s.id,
	                        s.bussiness_id,
	                        s.order_code,
	                        s.exp_no,
	                        s.exp_name,
	                        s.exp_code,
	                        s.exp_logo,
	                        s.information,
	                        s.state,
	                        s.user_info,
	                        s.campus,
	                        s.click_through,
	                        s.create_time,
	                        s.update_time
	                       FROM
	                       sc_gmuni_express s
	                       where s.id = #{id,jdbcType=VARCHAR}

	</select>

    <select id="listExpress" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        s.id,
        s.bussiness_id,
        s.order_code,
        s.exp_no,
        s.exp_name,
        s.exp_code,
        s.exp_logo,
        s.information,
        s.state,
        s.user_info,
        s.campus,
        s.click_through,
        s.create_time,
        s.update_time
        FROM
        sc_gmuni_express s
        LEFT JOIN sc_gmuni_thirdpart_userinfo ui
        ON s.user_info = ui.indentifier
        LEFT JOIN sc_gmuni_thirdpart_user tu
        ON ui.user_id = tu.id
        WHERE 1 = 1
        <if test="expNo!=null and expNo!=''">
            and s.exp_no = #{expNo,jdbcType=VARCHAR}
        </if>
        <if test="userInfo!=null and userInfo!=''">
            and s.user_info = #{userInfo,jdbcType=VARCHAR}
        </if>
        <if test="campus!=null and campus!=''">
            and s.campus = #{campus,jdbcType=VARCHAR}
        </if>
        <if test="expCode!=null and expCode!=''">
            and s.exp_code = #{expCode,jdbcType=VARCHAR}
        </if>
        order by s.update_time desc
    </select>
</mapper>