<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmuni.sc.integral.mapper.IntegralTaskMapper">

    <resultMap id="BaseResultMap" type="cn.gmuni.sc.integral.model.IntegralTask">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="task_code" jdbcType="VARCHAR" property="taskCode"/>
        <result column="integral_set" jdbcType="VARCHAR" property="integralSet"/>
        <result column="task_validity" jdbcType="VARCHAR" property="taskValidity"/>
        <result column="task_status" jdbcType="VARCHAR" property="taskStatus"/>
        <result column="task_limit" jdbcType="DECIMAL" property="taskLimit"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="task_introduction" jdbcType="VARCHAR" property="taskIntroduction"/>
        <result column="task_content" jdbcType="VARCHAR" property="taskContent"/>
        <result column="user_info" jdbcType="VARCHAR" property="userInfo"/>
        <result column="campus" jdbcType="VARCHAR" property="campus"/>
        <result column="task_type" jdbcType="VARCHAR" property="taskType"/>
        <result column="sort" jdbcType="DECIMAL" property="sort"/>
    </resultMap>

    <delete id="delete" parameterType="java.lang.String">
              DELETE FROM sc_gmuni_integral_task
              WHERE id= #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="add" parameterType="cn.gmuni.sc.integral.model.IntegralTask">
 INSERT INTO sc_gmuni_integral_task
	(id,task_name,task_code,integral_set,task_validity,task_status,task_limit,create_time,update_time,task_introduction,
	task_content,user_info,campus,task_type,sort)
	VALUES
	(#{id,jdbcType=VARCHAR},#{taskName,jdbcType=VARCHAR},#{taskCode,jdbcType=VARCHAR},#{integralSet,jdbcType=VARCHAR},#{taskValidity,jdbcType=VARCHAR},#{taskStatus,jdbcType=VARCHAR}
	,#{taskLimit,jdbcType=DECIMAL}
	,#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
	,#{taskIntroduction,jdbcType=VARCHAR},#{taskContent,jdbcType=VARCHAR},#{userInfo,jdbcType=VARCHAR},#{campus,jdbcType=VARCHAR}
	,#{taskType,jdbcType=VARCHAR},#{sort,jdbcType=DECIMAL}
	);
    </insert>

    <update id="update" parameterType="cn.gmuni.sc.integral.model.IntegralTask">
 UPDATE sc_gmuni_integral_task SET
	integral_set = #{information,jdbcType=VARCHAR} ,
	task_validity = #{taskValidity,jdbcType=VARCHAR},
	task_status = #{taskStatus,jdbcType=VARCHAR} ,
	task_limit = #{taskLimit,jdbcType=DECIMAL} ,
	update_time = #{updateTime,jdbcType=TIMESTAMP} ,
	task_introduction = #{taskIntroduction,jdbcType=VARCHAR} ,
	task_content = #{taskContent,jdbcType=VARCHAR} ,
	task_type = #{taskType,jdbcType=VARCHAR} ,
	sort = #{sort,jdbcType=DECIMAL}
	WHERE
	id = #{id,jdbcType=VARCHAR};
	</update>

    <select id="findIntegralTaskById" parameterType="java.lang.String" resultMap="BaseResultMap">
SELECT 	id,
	task_name,
	task_code,
	integral_set,
	task_validity,
	task_status,
	task_limit,
	create_time,
	update_time,
	task_introduction,
	task_content,
	user_info,
	campus,
	task_type,
	sort
	FROM
	sc_gmuni_integral_task
	WHERE
	id = #{id,jdbcType=VARCHAR};
	</select>
    <select id="findIntegralTaskByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
SELECT 	id,
	task_name,
	task_code,
	integral_set,
	task_validity,
	task_status,
	task_limit,
	create_time,
	update_time,
	task_introduction,
	task_content,
	user_info,
	campus,
	task_type,
	sort
	FROM
	sc_gmuni_integral_task
	WHERE
	task_code = #{taskCode,jdbcType=VARCHAR};
</select>
    <select id="list" parameterType="java.util.Map" resultType="java.util.Map">
SELECT 	id,
	task_name,
	task_code,
	integral_set,
	task_validity,
	task_status,
	task_limit,
	create_time,
	update_time,
	task_introduction,
	task_content,
	user_info,
	campus,
	task_type,
	sort
	FROM
	sc_gmuni_integral_task
	order by sort asc ;
</select>
	
</mapper>