<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.schedule.mapper.CourseTimeMapper">

    <resultMap id="CourseTimeMap" type="com.gmunidata.schedule.model.CourseTime">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="academic_year" jdbcType="VARCHAR" property="academicYear"/>
        <result column="semester" jdbcType="VARCHAR" property="semester"/>
        <result column="s_date" jdbcType="TIMESTAMP" property="sDate"/>
        <result column="e_date" jdbcType="TIMESTAMP" property="eDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

  <insert id="addCourseTime" parameterType="com.gmunidata.schedule.model.CourseTime">
    insert into sc_gmuni_course_time (id,grade,academic_year,semester, s_date,e_date,create_time)
    values (#{id,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{academicYear,jdbcType=VARCHAR},
       #{semester,jdbcType=VARCHAR}, #{sDate,jdbcType=TIMESTAMP},#{eDate,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateCourseTime" parameterType="com.gmunidata.schedule.model.CourseTime">
    update sc_gmuni_course_time set
     grade = #{grade,jdbcType=VARCHAR},
     academic_year = #{academicYear,jdbcType=VARCHAR},
     semester = #{semester,jdbcType=VARCHAR},
     s_date = #{sDate,jdbcType=TIMESTAMP},
     e_date = #{eDate,jdbcType=TIMESTAMP}
     where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectScheduleNum" parameterType="java.util.List" resultType="java.lang.Long">
        select count(1) from  sc_gmuni_schedule where course_time_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

  <delete id="delCourseTime" parameterType="java.lang.String">
    delete from sc_gmuni_course_time where id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


  <select id="checkCourseTime" resultType="java.lang.Long" parameterType="com.gmunidata.schedule.model.CourseTime" >
      select count(1) from sc_gmuni_course_time where  grade = #{grade,jdbcType=VARCHAR}
         and  academic_year = #{academicYear,jdbcType=VARCHAR} and  semester = #{semester,jdbcType=VARCHAR}
       <if test="id!=null and id!=''">
         and id != (#{id,jdbcType=VARCHAR})
       </if>
  </select>


    <select id="listCourseTime" parameterType="java.util.Map" resultMap="CourseTimeMap">
     select id,grade,academic_year,semester, s_date,e_date,create_time from sc_gmuni_course_time
      <where>
      <if test="grade!=null and grade!=''">
          grade = #{grade,jdbcType=VARCHAR}

      </if>
       <if test="education!=null and education!=''">
           and education like CONCAT('%',#{education,jdbcType=VARCHAR} ,'%')
       </if>
      </where>
        order by grade,academic_year desc,semester asc
    </select>


    <select id="getCourseTime" parameterType="java.util.Map" resultMap="CourseTimeMap">
        select id,grade,academic_year,semester from sc_gmuni_course_time
        <where>
            <if test="grade!=null and grade!=''">
                grade = #{grade,jdbcType=VARCHAR}
            </if>
        </where>
        order by grade,academic_year desc,semester asc
    </select>

</mapper>