<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.schedule.mapper.ScheduleMapper">

    <resultMap id="ScheduleMap" type="com.gmunidata.schedule.model.Schedule">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="course_code" jdbcType="VARCHAR" property="courseCode"/>
        <result column="class_code" jdbcType="VARCHAR" property="classCode"/>
        <result column="day" jdbcType="TIMESTAMP" property="day"/>
        <result column="classroom" jdbcType="VARCHAR" property="classroom"/>
        <result column="teacher" jdbcType="VARCHAR" property="teacher"/>
        <result column="week" jdbcType="VARCHAR" property="week"/>
        <result column="course_time_id" jdbcType="VARCHAR" property="courseTimeId"/>
        <result column="target_nc" jdbcType="VARCHAR" property="targetNc"/>
        <result column="sunday" jdbcType="VARCHAR" property="sunday"/>
        <result column="nc" jdbcType="VARCHAR" property="nc"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
    </resultMap>

  <insert id="addSchedule" parameterType="com.gmunidata.schedule.model.Schedule">
    insert into sc_gmuni_schedule (id, course_code,class_code,day, classroom,teacher,week,course_time_id,target_nc,sunday)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.id,jdbcType=VARCHAR}, #{item.courseCode,jdbcType=VARCHAR}, #{item.classCode,jdbcType=VARCHAR},
    #{item.day,jdbcType=TIMESTAMP}, #{item.classroom,jdbcType=VARCHAR},#{item.teacher,jdbcType=VARCHAR},
    #{item.week,jdbcType=VARCHAR},#{item.courseTimeId,jdbcType=VARCHAR},#{item.targetNc,jdbcType=VARCHAR},#{item.sunday,jdbcType=VARCHAR})
  </foreach>
  </insert>


  <delete id="delSchedule" parameterType="java.lang.String">
    delete from sc_gmuni_schedule where id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


    <select id="listSchedule" parameterType="java.util.Map" resultMap="ScheduleMap">
        select s.id AS  id, s.course_code AS course_code ,s.class_code AS class_code ,s.day as day,
        s.classroom AS classroom,s.teacher AS teacher,s.week AS week,s.course_time_id AS course_time_id,s.target_nc AS target_nc,
        s.sunday AS sunday,c.name AS course_name
        from sc_gmuni_schedule s inner join sc_gmuni_course c on s.course_code = c.code
         where s.class_code = #{classCode,jdbcType=VARCHAR} and s.course_time_id = #{courseTimeId,jdbcType=VARCHAR}
            <if test="week!=null and week!=''">
              s.week = #{week,jdbcType=VARCHAR}
            </if>
    </select>
    <select id="listWeekSchedule" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          c.name as name,
          sch.day as day,
          sch.teacher as teacher,
          sch.target_nc as targetnc,
          sch.classroom as classroom,
          sch.sunday as sunday,
          sch.week as week,
          COUNT(nc.nc) AS nc,
          sch.course_code AS course,
          sch.class_code AS classCode,
          sch.course_time_id AS courseTime
        FROM
          sc_gmuni_schedule sch
          INNER JOIN sc_gmuni_student s
            ON sch.class_code = s.class_id
          LEFT JOIN sc_gmuni_class cls
            ON s.class_id = cls.code
          LEFT JOIN sc_gmuni_course c
            ON sch.course_code = c.code
          LEFT JOIN sc_gmuni_course_time ct
            ON sch.course_time_id = ct.id
          LEFT JOIN sc_gmuni_schedule_nc nc
            ON sch.id = nc.sch_id
            AND ct.grade = CONCAT(cls.year, '级')
        WHERE s.code = #{code,jdbcType=VARCHAR}
          AND sch.week = #{week,jdbcType=VARCHAR}
          AND ct.semester = #{semester,jdbcType=VARCHAR}
          AND ct.academic_year = #{academicYear,jdbcType=VARCHAR}
        GROUP BY c.name,
          sch.day,
          sch.teacher,
          sch.target_nc,
          sch.classroom,
          sch.sunday,
          sch.week,
          sch.course_code,
          sch.class_code,
          sch.course_time_id
        ORDER BY sch.sunday,
          sch.target_nc
    </select>
    <select id="getScheduleWeek"  parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
          WEEK AS week
        FROM
          sc_gmuni_schedule
        WHERE class_code = #{classCode}
          AND sunday =  #{sunday}
          AND target_nc = #{targetnc}
          AND course_time_id = #{courseTime}
          AND course_code = #{course}
          ORDER BY WEEK+0
    </select>
<select id="getScheduleInfo" parameterType="java.util.Map" resultType="java.util.Map">
SELECT
  cls.year AS 'year',
  ct.academic_year AS 'academicYear',
  ct.semester AS 'semester',
  DATE_FORMAT(ct.s_date, '%Y-%m-%d') AS 'startDate',
  DATE_FORMAT(ct.e_date, '%Y-%m-%d') AS 'endDate'
FROM
  sc_gmuni_course_time ct
  LEFT JOIN sc_gmuni_class cls
    ON ct.grade = CONCAT(cls.year, '级')
  LEFT JOIN sc_gmuni_student s
    ON cls.code = s.class_id
WHERE s.code = #{code,jdbcType=VARCHAR}
ORDER BY ct.academic_year,
  ct.semester
</select>

<select id="selectTimeById" parameterType="java.lang.String" resultType="java.util.Map">
    select s_date AS sDate,e_date AS eDate from sc_gmuni_course_time where id = #{id,jdbcType=VARCHAR}
</select>

<insert id="addNc" parameterType="com.gmunidata.schedule.model.ScheduleNc">
    insert into sc_gmuni_schedule_nc (id,sch_id,nc)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.id,jdbcType=VARCHAR},#{item.schId,jdbcType=VARCHAR},#{item.nc,jdbcType=VARCHAR})
    </foreach>
</insert>

<delete id="delNc" parameterType="java.lang.String">
    delete from sc_gmuni_schedule_nc where  sch_id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
</delete>

<select id="selectIdBySundayAndNc" parameterType="java.util.Map" resultType="java.lang.String">
    select id from sc_gmuni_schedule where sunday = #{sunday,jdbcType=VARCHAR} and target_nc = #{targetNc,jdbcType=VARCHAR} and course_time_id = #{courseTimeId,jdbcType=VARCHAR}
</select>

    <select id="selectNc" parameterType="java.util.Map" resultType="java.lang.String">
    select GROUP_CONCAT(nc) AS nc from sc_gmuni_schedule_nc where sch_id = #{schId,jdbcType=VARCHAR}
</select>

    <select id="excelOutSchedule" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT
        b as schedule,COUNT(1) nc,MIN(nc) startNc
        FROM
        (SELECT WEEK,CONCAT(WEEK,'`',sunday,'|',target_nc,'|',course_name,'|',teacher,'|',classroom) AS b,nc AS nc
        FROM
        (SELECT
            s.classroom AS classroom,
            s.teacher AS teacher,
            s.week AS WEEK,
            s.target_nc AS target_nc,
            s.sunday AS sunday,
            c.name AS course_name,
            n.nc AS nc
        FROM
        sc_gmuni_schedule s
        INNER JOIN sc_gmuni_course c
        ON s.course_code = c.code
        INNER JOIN sc_gmuni_schedule_nc n
        ON n.sch_id = s.id
        WHERE s.class_code = #{classCode,jdbcType=VARCHAR} AND s.course_time_id = #{courseTimeId,jdbcType=VARCHAR}) AS m ) h
        GROUP BY b
    </select>

    <select id="getFileName" parameterType="java.util.Map" resultType="java.util.Map">
        select c.name as className,ct.academic_year as academicYear,ct.semester as semester,ct.grade as grade
        from sc_gmuni_class c,sc_gmuni_course_time ct
        where c.code = #{classCode,jdbcType=VARCHAR} and ct.id = #{courseTimeId,jdbcType=VARCHAR}
    </select>

    <select id="getClassCode" parameterType="java.lang.String" resultType="java.lang.String">
        select code from sc_gmuni_class  where name = #{className,jdbcType=VARCHAR}

    </select>

    <select id="getCourseTime" parameterType="java.util.Map" resultType="java.lang.String">
        select id  from  sc_gmuni_course_time  where
        academic_year  = #{academicYear,jdbcType=VARCHAR} and  semester = #{semester,jdbcType=VARCHAR} and  grade = #{grade,jdbcType=VARCHAR}
    </select>

    <select id="getCourseCode" parameterType="java.lang.String" resultType="java.lang.String">
        select code from sc_gmuni_course where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="selectIdByCourseTimeIdAndClassCode" parameterType="java.util.Map" resultType="java.lang.String">

    select id from sc_gmuni_schedule where class_code = #{classCode,jdbcType=VARCHAR} and course_time_id = #{courseTimeId,jdbcType=VARCHAR}
</select>

    <select id="selectCourseTime" parameterType="java.lang.String" resultType="com.gmunidata.schedule.model.CourseTime">
        select  s_date AS sDate,e_date AS eDate from sc_gmuni_course_time where id = #{id,jdbcType=VARCHAR}
    </select>


</mapper>