<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.classinfo.mapper.ClassInfoMapper">

    <resultMap id="ClassInfoMap" type="com.gmunidata.classinfo.model.ClassInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="subject_id" jdbcType="VARCHAR" property="subjectId"/>
        <result column="period" jdbcType="VARCHAR" property="period"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="head_teacher" jdbcType="VARCHAR" property="headTeacher"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="class_no" jdbcType="VARCHAR" property="classNo"/>
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName"/>
        <result column="class_num" jdbcType="VARCHAR" property="classNum"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
    </resultMap>

  <insert id="saveClass" parameterType="com.gmunidata.classinfo.model.ClassInfo">
    insert into sc_gmuni_class (id, name,subject_id,period, year,create_time,head_teacher,code,class_no,education,class_num) values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{subjectId,jdbcType=VARCHAR},
       #{period,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{headTeacher,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{classNo,jdbcType=VARCHAR},#{education,jdbcType=VARCHAR},#{classNum,jdbcType=VARCHAR})
  </insert>

  <update id="editClass" parameterType="com.gmunidata.classinfo.model.ClassInfo">
    update sc_gmuni_class set
     name = #{name,jdbcType=VARCHAR},
     code = #{code,jdbcType=VARCHAR},
     subject_id = #{subjectId,jdbcType=VARCHAR},
     period = #{period,jdbcType=VARCHAR},
     year = #{year,jdbcType=VARCHAR},
     head_teacher = #{headTeacher,jdbcType=VARCHAR},
     class_no = #{classNo,jdbcType=VARCHAR},
     class_num = #{classNum,jdbcType=VARCHAR},
     education = #{education,jdbcType=VARCHAR}
     where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteClass" parameterType="java.lang.String">
    delete from sc_gmuni_class where id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

    <delete id="deleteStudent" parameterType="java.lang.String">
        delete from sc_gmuni_class where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteSche" parameterType="java.lang.String">
        delete from sc_gmuni_class where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


  <select id="checkCodeAndNum" resultType="java.lang.Long" parameterType="com.gmunidata.classinfo.model.ClassInfo" >
      select count(1) from sc_gmuni_class
      where
        (name = #{name,jdbcType=VARCHAR} or  code = #{code,jdbcType=VARCHAR})
          <if test="id!=null and id!=''">
             and id != (#{id,jdbcType=VARCHAR})
          </if>
  </select>

    <select id="checkStudent" resultType="java.lang.Long" parameterType="java.lang.String" >
      select count(1) from sc_gmuni_student where class_id in
      <foreach item="item" collection="list" open="(" separator="," close=")">
          #{item}
      </foreach>
  </select>

    <select id="checkSchedule" resultType="java.lang.Long" parameterType="java.lang.String" >
        select count(1) from sc_gmuni_schedule where class_code in
        (select code from sc_gmuni_class where id in
         <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </select>

    <select id="listClass" parameterType="java.util.Map" resultType="java.util.Map">
     select c.id AS id ,c.name AS name ,c.subject_id AS subjectId ,d.name AS subjectName, c.period AS period,c.year AS year,
        c.create_time AS createTime,c.head_teacher AS headTeacher,c.code AS code,c.class_no AS classNo,c.education AS education,
        c.class_num AS classNum,d1.name AS deptName from sc_gmuni_class c,zs_gmuni_faculty_professional f,pf_gmuni_department d ,pf_gmuni_department d1
        where c.subject_id = f.id and  f.deptId = d.id  and  d1.id = d.parent_id
     <if test="subjectId!=null and subjectId!=''">
         and c.subject_id = #{subjectId,jdbcType=VARCHAR}
     </if>
      <if test="name!=null and name!=''">
          and c.name like CONCAT('%',#{name,jdbcType=VARCHAR} ,'%')
      </if>
       <if test="code!=null and code!=''">
           and c.code like CONCAT('%',#{code,jdbcType=VARCHAR} ,'%')
       </if>
        <if test="subjectName!=null and subjectName!=''">
            and d.name like CONCAT('%',#{subjectName,jdbcType=VARCHAR} ,'%')
        </if>
        <if test="year!=null and year!=''">
            and c.year = #{year,jdbcType=VARCHAR}
        </if>
        order by c.create_time desc
    </select>

    <select id="getClass" parameterType="java.util.Map" resultType="java.util.Map">
         select c.id AS id ,c.name AS name ,c.subject_id AS subjectId ,d.name AS subjectName,c.code AS code from sc_gmuni_class c,zs_gmuni_faculty_professional f, pf_gmuni_department d
         where c.subject_id = f.id and  f.deptId = d.id

        <if test="subjectId!=null and subjectId!=''">
            and c.subject_id = #{subjectId,jdbcType=VARCHAR}
        </if>
        order by c.create_time desc

    </select>

    <select id="outClass"  resultType="com.gmunidata.classinfo.model.ClassInfo">
        select  c.name AS name ,d.name AS subjectName, c.period AS period,c.year AS year,
        c.create_time AS createTime,c.head_teacher AS headTeacher,c.code AS code,c.class_no AS classNo,c.education AS education,
        c.class_num AS classNum from sc_gmuni_class c,zs_gmuni_faculty_professional f, pf_gmuni_department d
        where c.subject_id = f.id and  f.deptId = d.id
        order by c.year,d.name,c.code asc
    </select>

    <select id="createTemp">
        create table ${_parameter} (
	            `id` varchar (100),
	            `name` varchar (600),
	            `subject_name` varchar (100),
	            `period` varchar (150),
	            `create_time` datetime ,
	            `year` varchar (300),
	            `head_teacher` varchar (150),
	             `code` varchar (600),
	             `class_no` varchar (300),
	             `education` varchar (300),
	             `class_num` varchar (150));
    </select>

    <delete id="delAll">
          truncate table sc_gmuni_class
    </delete>

    <delete id="dropTemp">
         drop table IF EXISTS  ${_parameter}
    </delete>

    <insert id="listAddTemp" parameterType="com.gmunidata.classinfo.model.ClassInfo">
        insert into  ${arg0} (id, name,subject_name,period, year,create_time,head_teacher,code,class_no,education,class_num) values
        <foreach collection="arg1" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.subjectName,jdbcType=VARCHAR},
            #{item.period,jdbcType=VARCHAR}, #{item.year,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},
            #{item.headTeacher,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.classNo,jdbcType=VARCHAR},
            #{item.education,jdbcType=VARCHAR},#{item.classNum,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="listAddClass" parameterType="com.gmunidata.classinfo.model.ClassInfo">
        insert into sc_gmuni_class (id, name,subject_id,period, year,create_time,head_teacher,code,class_no,education,class_num) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.subjectId,jdbcType=VARCHAR},
            #{item.period,jdbcType=VARCHAR}, #{item.year,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},
            #{item.headTeacher,jdbcType=VARCHAR},#{item.code,jdbcType=VARCHAR},#{item.classNo,jdbcType=VARCHAR},
            #{item.education,jdbcType=VARCHAR},#{item.classNum,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="tempAll" resultType="com.gmunidata.classinfo.model.ClassInfo">
        select t.id as id,t.name as name ,t.period as period,t.year as year,t.create_time as createTime,t.head_teacher as headTeacher,
        t.code as code,t.class_no as classNo,t.education as education,t.class_num as classNum,fp.id as subjectId from  ${_parameter} t left join pf_gmuni_department d on
        (t.subject_name = d.name and d.faculty = 'xk') left join zs_gmuni_faculty_professional fp  on (d.ID = fp.deptId and fp)
   </select>
    
    <select id="tempHalf" resultType="com.gmunidata.classinfo.model.ClassInfo">
        select t.id as id,t.name as name ,t.period as period,t.year as year,t.create_time as createTime,t.head_teacher as headTeacher,
        t.code as code,t.class_no as classNo,t.education as education,t.class_num as classNum,fp.id as subjectId from  ${_parameter} t left join pf_gmuni_department d on
        (t.subject_name = d.name and d.faculty = 'xk') left join zs_gmuni_faculty_professional fp  on d.ID = fp.deptId  where  not exists (select c.code from  sc_gmuni_class c where c.code = t.code)
        and  not exists (select c1.name from  sc_gmuni_class c1 where c1.name = t.name)
    </select>

    <delete id="deleteReptName" parameterType="java.lang.String">
        delete from sc_gmuni_class where name in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteReptCode" parameterType="java.lang.String">
        delete from sc_gmuni_class where code in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="checkName"  resultType="java.lang.String">
        SELECT t.name AS name FROM sc_gmuni_class c INNER JOIN  ${_parameter} t ON c.name = t.name
    </select>

    <select id="checkCode" resultType="java.lang.String">
        SELECT t.code AS code FROM sc_gmuni_class c INNER JOIN  ${_parameter} t ON c.code = t.code
    </select>
    
    <select id="selectCode" resultType="java.lang.String">
        select code from  ${_parameter} group by code having count(1) > 1
    </select>

    <select id="selectName" resultType="java.lang.String">
        select name from  ${_parameter} group by name having count(1) > 1
    </select>


</mapper>