<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="hairDryer_view" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>智能吹风机</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/hairDryer.css}">
    <script th:src="@{/app/js/zepto.min.js}"></script>
</head>
<body>
<div class="hairDryer_main_container">
    <form action="/blower/blowerPayByALi" id="hairDryer_form" method="post">
        <div>
            <input id="hairDryer_time" name="workTime" style="display: none;" value="3"/>
            <input id="hairDryer_deviceId" name="blowerCode" style="display: none;" th:value="${deviceId}"/>
            <label class="hairDryer_tip">请选择:</label>
            <div class="hairDryer_time_container">
                <div class="hairDryer_select_value hairDryer_value_selected" th:value="3" onclick="selectTime(this)">
                    <label class="hairDryer_select_text hairDryer_text_selected" th:text="3分钟"/>
                </div>
                <div class="hairDryer_select_value" th:value="5" onclick="selectTime(this)">
                    <label class="hairDryer_select_text" th:text="5分钟"/>
                </div>
                <div class="hairDryer_select_value" th:value="8" onclick="selectTime(this)">
                    <label class="hairDryer_select_text" th:text="8分钟"/>
                </div>
            </div>
            <div class="hairDryer_time_container" style="margin-top:20px;">
                <div class="hairDryer_select_value" th:value="10" onclick="selectTime(this)">
                    <label class="hairDryer_select_text" th:text="10分钟"/>
                </div>
                <div class="hairDryer_select_value" th:value="15" onclick="selectTime(this)">
                    <label class="hairDryer_select_text" th:text="15分钟"/>
                </div>
            </div>
            <div class="hairDryer_timeCash">
                <span style="margin-right: 15px;">金额</span>
                    <input name="chargeJinE" style="display: none;" value="1"/>
                    <span id="hairDryer_timeCash">1</span>
                <span>元</span>
            </div>
        </div>
        <div class="hairDryer_paymentWay">
            <label class="hairDryer_paymentWay_tip" th:text="付款方式"/>付款方式
        </div>
        <div class="hairDryer_select_paymentWay">
            <img class="payment_way_img" src="/app/image/icon_yue.png"/>
            <div class="hairDryer_paymentWay_container">
                <label class="hairDryer_paymentWay_detail" th:text="我的钱包"/>
                <label class="hairDryer_paymentWay_desc" th:text="推荐使用我的钱包支付"/>
            </div>
            <input class="hairDryer_payment_radio" type="radio" name="paymentWay" value="wallet" checked/>
        </div>
        <div class="hairDryer_select_paymentWay">
            <img class="payment_way_img" src="/app/image/zhifubao.png"/>
            <div class="hairDryer_paymentWay_container">
                <label class="hairDryer_paymentWay_detail" th:text="支付宝"/>
                <label class="hairDryer_paymentWay_desc" th:text="数亿用户都在用，安全可托付"/>
            </div>
            <input class="hairDryer_payment_radio" type="radio" name="paymentWay" value="alipay"/>
        </div>
    </form>
    <button id="submit_payment_info" onclick="doPay()">确定</button>
    <label class="hairDryer_tip">温馨提示：请合理选择吹风机使用时间，交费后如未使用完将不会返还所充值金额噢~</label>
</div>
</body>
<script type="text/javascript">
    function selectTime(target){
        var container_list = $(".hairDryer_select_value");
        for (var i = 0; i < container_list.length; i++) {
            container_list[i].classList.remove("hairDryer_value_selected");
            container_list[i].getElementsByTagName("label")[0].classList.remove("hairDryer_text_selected");
        }
        target.classList.add("hairDryer_value_selected");
        target.getElementsByTagName("label")[0].classList.add("hairDryer_text_selected");

        // hairDryer
        var data = [{'time':'3','amount':'1'},{'time':'5','amount':'2'},{'time':'8','amount':'3'},{'time':'10','amount':'4'},{'time':'15','amount':'5'}]
        data.forEach(function(item){
            if(item.time == target.attributes[1].nodeValue){
                $("#hairDryer_timeCash").text(item.amount)
                $("input[name='chargeJinE']").val(item.amount)    // 金额
            }
        })

        $("#hairDryer_time").val(target.attributes[1].nodeValue)  // 选择的时长
    }
    function doPay(){
        var workTime = $(".hairDryer_value_selected").val()
        var cash = $("#hairDryer_timeCash").text()
        var payType = $("input[type='radio']:checked").val()
        var data = {blowerCode:'1001', workTime:workTime, chargeJinE:cash}

        if (payType == 'wallet') {
            // prompt("输入密码","请正确输入您的密码")
            $.ajax({
                url: "/blower/blowerPayByCard",
                type: "POST",
                data: JSON.stringify(data),
                dataType:'json',
                contentType: "application/json",
                success: function (data) {
                    // alert("success")
                    window.location.href = "hairDryer_success.html?payType="+payType+"&cash="+cash;
                }
            });
        } else if (payType == 'alipay') {
            $("#hairDryer_form").submit(function(data){
                alert("Submitted");
            });
        }
    }
</script>
</html>