<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>网络复通</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/net_start_using.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            document.getElementById("start_delay").addEventListener("click", function (ev) {
                datepicker.showDatePicker(true, "net_start", "");
            })
        })

        function selectedDatePicker(time, flag) {
            var r = confirm("是否确定要办理报停业务");
            if (r == true) {
                $.ajax({
                    url: "/networkPay/accountStart",
                    method: "post",
                    data: {'dateStr': time},
                    success: function (data) {
                        if (data && data.msg) {
                            alert(data.msg);
                        } else {
                            alert("系统异常，请前往营业厅办理");
                        }
                    },
                    error: function () {

                    }
                });
            }
        }
    </script>
</head>
<body>
<div class="net_start_using_item">
    <span>状态</span>
    <span class="net_start_using_status" th:text="${data.status} == '1' ? '正常' : ${data.stateNote}">停机</span>
</div>
<div class="net_start_using_item">
    <span>当前套餐</span>
    <span>学生组</span>
</div>
<div class="net_start_using_item">
    <span>计费方式</span>
    <span th:text="${data.packageType} == '1' ? '包月' : '其他'">包月</span>
</div>
<div class="net_start_using_msg">
    当账号“停机”状态时，可以为账号办理“复通”业务，“复通”成功后您将可以继续使用网络。
</div>
<div class="net_start_using_btns">
    <button onclick="startNow()">立即复通</button>
    <button id="start_delay">预约复通</button>
</div>
</body>
<script>
    function startNow() {
        var r = confirm("是否确定要办理报停业务");
        if (r == true) {
            $.ajax({
                url: "/networkPay/accountStart",
                method: "post",
                success: function (data) {
                    if (data && data.msg) {
                        alert(data.msg);
                    } else {
                        alert("系统异常，请前往营业厅办理");
                    }
                },
                error: function () {

                }
            });
        }
    }
</script>
</html>