<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--账号报停记录-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>账号报停记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/net_stop_detail.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>
<div class="net_stop_detail_wrap">
    <div class="net_stop_detail_time">
        <span>2018年9月</span>
    </div>
    <div class="net_stop_detail_list">
        <div class="net_stop_detail_item">
            <span class="net_stop_detail_label">2018-10-10 11:11:11</span>
            <span class="net_stop_detail_value">预约报停</span>
        </div>
    </div>
    <div class="net_stop_detail_list">
        <div class="net_stop_detail_item">
            <span class="net_stop_detail_label">2018-10-10 11:11:11</span>
            <span class="net_stop_detail_value">预约报停</span>
        </div>
    </div>
</div>
<div class="net_stop_detail_wrap">
    <div class="net_stop_detail_time">
        <span>2018年9月</span>
    </div>
    <div class="net_stop_detail_list">
        <div class="net_stop_detail_item">
            <span class="net_stop_detail_label">2018-10-10 11:11:11</span>
            <span class="net_stop_detail_value">预约报停</span>
        </div>
    </div>
    <div class="net_stop_detail_list">
        <div class="net_stop_detail_item">
            <span class="net_stop_detail_label">2018-10-10 11:11:11</span>
            <span class="net_stop_detail_value">预约报停</span>
        </div>
    </div>
</div>
</body>
</html>