<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>历史账单</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/net_history_bill.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>

    <div class="net_history_bill_year">
        <div>
            <select name="year">
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
            </select>
        </div>

    </div>
    <div class="net_history_bill_info">
        <div class="net_history_bill_info_row">
            <div class="net_history_bill_info_item">
                <span class="net_history_bill_info_value">40.00</span>
                <span class="net_history_bill_info_text">基本月租(元)</span>
            </div>
            <div class="net_history_bill_info_item">
                <span class="net_history_bill_info_value">0.00</span>
                <span class="net_history_bill_info_text">时长/流量计费(元)</span>
            </div>
        </div>
        <div class="net_history_bill_info_row">
            <div class="net_history_bill_info_item">
                <span class="net_history_bill_info_value">43534</span>
                <span class="net_history_bill_info_text">使用时长(分钟)</span>
            </div>
            <div class="net_history_bill_info_item">
                <span class="net_history_bill_info_value">23432.23</span>
                <span class="net_history_bill_info_text">使用流量(M)</span>
            </div>
        </div>
    </div>
    <div class="net_history_bill_list">
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
        <div class="net_history_bill_item">
            <span>2018-10-11 00:00:00</span>
            <span>30.00元</span>
        </div>
    </div>
</body>
</html>