<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>预约套餐记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/net_sub_record.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>
    <div class="net_sub_record_month">
        <div class="net_sub_record_title">
            <span class="net_sub_record_title_time">2018年10月</span>
            <span class="net_sub_record_title_efficacy">有效</span>
        </div>
        <div class="net_sub_record_info">
            <div class="net_sub_record_time">
                <span>预约时间:</span>
                <span>2018-10-11 11:11:11</span>
            </div>
            <div class="net_sub_record_time">
                <span>生效时间:</span>
                <span>2018-10-11 11:11:11</span>
            </div>
            <div class="net_sub_record_content">
                <span>预约套餐:</span>
                <span>教师组</span>
            </div>
        </div>
    </div>
    <div class="net_sub_record_month">
        <div class="net_sub_record_title">
            <span class="net_sub_record_title_time">2018年10月</span>
            <span>失效</span>
        </div>
        <div class="net_sub_record_info">
            <div class="net_sub_record_time">
                <span>预约时间:</span>
                <span>2018-10-11 11:11:11</span>
            </div>
            <div class="net_sub_record_time">
                <span>生效时间:</span>
                <span>2018-10-11 11:11:11</span>
            </div>
            <div class="net_sub_record_content">
                <span>预约套餐:</span>
                <span>教师组</span>
            </div>
        </div>
    </div>
</body>
</html>