<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--上网记录-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>上网记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/net_record.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>
    <div class="net_record_info">
        <div class="net_record_info_item">
            <span class="net_record_info_label">计费金额(元)</span>
            <span class="net_record_info_value">100.00</span>
        </div>
        <div class="net_record_info_item">
            <span class="net_record_info_label">使用时长(分钟)</span>
            <span class="net_record_info_value">36816分钟</span>
        </div>
        <div class="net_record_info_item">
            <span class="net_record_info_label">使用流量(M)</span>
            <span class="net_record_info_value">5600M</span>
        </div>
        <div class="net_record_info_item">
            <span class="net_record_info_label">国内上行(M)</span>
            <span class="net_record_info_value">100.00</span>
        </div>
        <div class="net_record_info_item">
            <span class="net_record_info_label">国内下行(M)</span>
            <span class="net_record_info_value">100.00</span>
        </div>
    </div>
    <div class="net_record_list">
        <div class="net_record_item">
            <span class="net_record_item_time">2018-10-12 09:30</span>
            <span class="net_record_item_duration">3350分钟</span>
            <span class="net_record_item_rate">1260M</span>
        </div>
        <div class="net_record_item">
            <span class="net_record_item_time">2018-10-12 09:30</span>
            <span class="net_record_item_duration">3350分钟</span>
            <span class="net_record_item_rate">1260M</span>
        </div>
        <div class="net_record_item">
            <span class="net_record_item_time">2018-10-12 09:30</span>
            <span class="net_record_item_duration">3350分钟</span>
            <span class="net_record_item_rate">1260M</span>
        </div>
        <div class="net_record_item">
            <span class="net_record_item_time">2018-10-12 09:30</span>
            <span class="net_record_item_duration">3350分钟</span>
            <span class="net_record_item_rate">1260M</span>
        </div>
    </div>
</body>
</html>