<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" th:content="${news.keywords}">
    <meta name="description" th:content="${news.description}">
    <meta http-equiv="cache-control" content="max-age=86400">
    <title>详情</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/news_detail.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/wangEditor.css}">
    <link rel=icon th:href="@{/favicon.ico}" type=image/x-icon>


</head>
<body>
  <div class="news_detail_container">
      <div class="news_details_title">
          <span th:text="${news.title}"></span>
      </div>
      <div class="news_details_desc">
          <span class="news_details_dept" th:text="${news.deptName}"></span>
          <span class="news_details_time" th:text="${news.updateTime}"></span>
          <span class="news_details_click" th:text="${news.clickThrough}+'阅读'"></span>
      </div>
      <div class="news_details_content" th:utext="${news.content}"></div>
  </div>

    <script>
        document.addEventListener("DOMContentLoaded",function(){
            //处理预加载的图片
            var imgs = document.getElementsByTagName("img");
            var img,id,lastmodify;
            for(var i=0;i<imgs.length;i++){
                 img = imgs[i];
                 id = img.dataset.imageid;
                lastmodify = img.dataset.lastmodify;
                 if(id!=null){
                     (function(img,id,lastmodify){
                         var newimg = new Image();
                         newimg.src = "/api-download/upload/download-image/"+id+"?"+lastmodify;
                         newimg.onload = function(){
                            img.src = newimg.src;
                            newimg = undefined;
                         }
                         newimg.onerror = function(){
                             newimg = null;
                         }
                     }(img,id,lastmodify))
                 }
            }
        })

    </script>
</body>
</html>