<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>充值记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/school_card_pay_detail.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>

<div th:each="item:${list}">
    <div class="school_card_detail_cut_line"></div>
    <div class="school_card_detail_list">
        <div class="school_card_detail_item">
                    <span class="school_card_detail_info">
                        <span class="school_card_detail_label"  th:if="${item.payMode}=='0'" >支付宝</span>
                        <span class="school_card_detail_label"  th:if="${item.payMode}!='0'" th:text="${item.payMode}"></span>
                        <span class="school_card_detail_time" th:text="${item.endTime}"></span>
                    </span>
            <span class="school_card_detail_money" th:text="'+'+${item.amount}"></span>
        </div>
    </div>
</div>

<!-- <div class="school_card_detail_list">
       <div class="school_card_detail_item">
                   <span class="school_card_detail_info">
                       <span class="school_card_detail_label">微信支付</span>
                       <span class="school_card_detail_time">2018-10-12 05:05:05</span>
                   </span>
           <span class="school_card_detail_money">
                       -100.00
                   </span>
       </div>
   </div>
   <div class="school_card_detail_cut_line"></div>
   <div class="school_card_detail_list">
       <div class="school_card_detail_item">
                   <span class="school_card_detail_info">
                       <span class="school_card_detail_label">微信支付</span>
                       <span class="school_card_detail_time">2018-10-12 05:05:05</span>
                   </span>
           <span class="school_card_detail_money">
                       -100.00
                   </span>
       </div>
   </div>
    <div class="school_card_detail_cut_line"></div>
    <div class="school_card_detail_list">
        <div class="school_card_detail_item">
                    <span class="school_card_detail_info">
                        <span class="school_card_detail_label">微信支付</span>
                        <span class="school_card_detail_time">2018-10-12 05:05:05</span>
                    </span>
            <span class="school_card_detail_money">
                        -100.00
                    </span>
        </div>
    </div>-->
</body>
</html>