<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>消费记录</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/school_card_consume_detail.css}">
    <script th:src="@{/app/js/simJQ-1.4.min.js}"></script>
</head>
<body>
<div th:each="item:${list}">
    <div class="school_card_consume_cut_line"></div>
    <div class="school_card_consume_list">
        <div class="school_card_consume_item">
                        <span class="school_card_consume_info">
                            <span class="school_card_consume_label" th:text="${item.title}"></span>
                            <span class="school_card_consume_time"th:text="${item.endTime}"></span>
                        </span>
            <span class="school_card_consume_money" th:text="'-'+${item.amount}"></span>
        </div>
    </div>
</div>
   <!-- <div class="school_card_consume_list">
        <div class="school_card_consume_item">
                        <span class="school_card_consume_info">
                            <span class="school_card_consume_label">微信支付</span>
                            <span class="school_card_consume_time">2018-10-12 05:05:05</span>
                        </span>
            <span class="school_card_consume_money">
                            -100.00
                        </span>
        </div>
    </div>
    <div class="school_card_consume_cut_line"></div>
    <div class="school_card_consume_list">
        <div class="school_card_consume_item">
                        <span class="school_card_consume_info">
                            <span class="school_card_consume_label">微信支付</span>
                            <span class="school_card_consume_time">2018-10-12 05:05:05</span>
                        </span>
            <span class="school_card_consume_money">
                            -100.00
                        </span>
        </div>
    </div>
    <div class="school_card_consume_cut_line"></div>
    <div class="school_card_consume_list">
        <div class="school_card_consume_item">
                        <span class="school_card_consume_info">
                            <span class="school_card_consume_label">微信支付</span>
                            <span class="school_card_consume_time">2018-10-12 05:05:05</span>
                        </span>
            <span class="school_card_consume_money">
                            -100.00
                        </span>
        </div>
    </div>-->
</body>
</html>