<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>充值</title>
    <link type="text/css" rel="stylesheet" th:href="@{/app/css/school_card_pay.css}">
    <script th:src="@{/app/js/zepto.min.js}"></script>
</head>
<body>
<div class="wrap">
    <form action="/wallet/prepay" id="school_card_form" method="post">
        <span class="school_card_label">充值金额</span>
        <div class="school_card_pay">
            <span>￥</span>
            <input class="school_card_input" id="school_card_money" name="school_card_money" type="number"/>
        </div>
    </form>
    <button class="school_card_btn" disabled id="school_card_btn" onclick="doPay()">充值</button>
</div>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        //处理按钮的禁用启用事件
        var btn = document.getElementById("school_card_btn");
        var input = document.getElementById("school_card_money");
        input.addEventListener("input", function (e) {
            btn.disabled = input.value == ''
        })

    });
    function doPay(){
        var input = document.getElementById("school_card_money");
        var form = document.getElementById('school_card_form');
        var val = input.value;
        if (val == '' || !val) {
            alert("请输入缴费金额");
            return;
        }
        $.ajax({
            url: "/wallet/getWallet",
            type: "POST",
            dataType:'json',
            contentType: "application/json",
            success: function (data) {
                if (data && data.data && data.data.id) {
                    form.submit();
                } else {
                    alert("请先开卡");
                }
            },
            error: function () {

            }
        });
    }
</script>
</body>
</html>