<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

</head>
<body>
<span th:text="222222">1111111111</span>
<div th:include="footer :: copyright"></div>
<div>
    <ul>
        <li th:each="list:${list}">
            <a  th:href="@{'/co/list/'+12}" th:if="${list.name} != null" th:text="${list.name}"></a>
        </li>
    </ul>
</div>
<div>
    <span th:text="${useName}"></span>
</div>

</body>
</html>