<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.newsNotice.mapper.ClickThroughMapper">

    <update id="updateClickThrough" parameterType="java.util.Map">
      UPDATE sc_gmuni_update_click_through ct
      SET ct.click_through = ct.click_through+1
      WHERE ct.article_id= #{articleId,jdbcType=VARCHAR}
      AND ct.type= #{type,jdbcType=VARCHAR};
    </update>

    <select id="getClickByArticle" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT ct.article_id,ct.click_through,ct.type
       FROM sc_gmuni_update_click_through ct
       WHERE  ct.article_id= #{articleId,jdbcType=VARCHAR}
       AND ct.type= #{type,jdbcType=VARCHAR};
    </select>
</mapper>