<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.newsNotice.mapper.InfoGroupMapper">

    <select id="getDeptAndSubject" parameterType="java.lang.String" resultType="java.util.Map">
       SELECT fp.id AS id, fp.deptid AS deptId,d.parent_id AS parentId,d.name AS name,
        d.faculty AS faculty,d.code AS code
        FROM zs_gmuni_faculty_professional fp INNER JOIN pf_gmuni_department d ON fp.deptId = d.id
        WHERE (d.id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        OR d.parent_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        )
    </select>

    <select id="getAllDeptAndSubject" resultType="java.util.Map">
         SELECT fp.id AS id, fp.deptid AS deptId,d.parent_id AS parentId,d.name AS name,
        d.faculty AS faculty,d.code AS code
        FROM zs_gmuni_faculty_professional fp INNER JOIN pf_gmuni_department d ON fp.deptId = d.id
    </select>

    <select id="getAllClass"  resultType="java.util.Map">
       SELECT code,name,subject_id as subjectId FROM sc_gmuni_class
    </select>

    <select id="selectGroup" parameterType="java.util.Map"  resultType="java.util.Map">
      SELECT code,name  FROM sc_gmuni_info_group
      <if test="createPeople != null and createPeople !='' and createPeople!='admin'">
          where create_people=#{createPeople,jdbcType=VARCHAR}
      </if>
        ORDER BY create_time desc
    </select>

    <select id="getGroupStudentByStudent" parameterType="java.util.Map" resultType="java.util.Map">
         SELECT code,name FROM sc_gmuni_student
        <where>
            <if test="flag == 'zy'">
                dept_id = #{groupCode,jdbcType=VARCHAR} or subject_id =#{groupCode,jdbcType=VARCHAR}
            </if>
            <if test="flag == 'bj'">
                class_id =#{groupCode,jdbcType=VARCHAR}
            </if>
        </where>

    </select>

    <select id="getGroupStudentByGroup" parameterType="java.util.Map" resultType="java.util.Map">
          SELECT gp.student_code AS code,s.name AS name FROM sc_gmuni_group_people gp INNER JOIN sc_gmuni_student s on gp.student_code = s.code
            <where>
                <if test="groupCode!=null and groupCode!=''">
                   and gp.group_code =#{groupCode,jdbcType=VARCHAR}
                </if>
                <if test="createPeople!=null and createPeople!=''  ">
                    and gp.create_people =#{createPeople,jdbcType=VARCHAR}
                </if>
            </where>
    </select>

    <insert id="addInfoGroup" parameterType="com.gmunidata.newsNotice.model.InfoGroup">
      insert into sc_gmuni_info_group (id,name,code,create_people,create_time) values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{createPeople,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>
    
    <insert id="addGroupPeople" parameterType="com.gmunidata.newsNotice.model.GroupPeople">
        insert into sc_gmuni_group_people (id,group_code,student_code,school_code,create_people) values
        <foreach collection="list" item="item" separator=",">
         (#{item.id,jdbcType=VARCHAR},#{item.groupCode,jdbcType=VARCHAR},#{item.studentCode,jdbcType=VARCHAR},#{item.schoolCode,jdbcType=VARCHAR},#{item.createPeople,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <delete id="deleteGroupPeople" parameterType="java.util.Map">
        delete from sc_gmuni_group_people where (group_code=#{groupCode,jdbcType=VARCHAR} and create_people =#{createPeople,jdbcType=VARCHAR})
    </delete>

    <select id="checkCode"  parameterType="com.gmunidata.newsNotice.model.InfoGroup" resultType="java.lang.Integer">
        select count(1) from sc_gmuni_info_group where code=#{code,jdbcType=VARCHAR} and create_people =#{createPeople,jdbcType=VARCHAR}
    </select>

    <delete id="deleteGroup" parameterType="java.util.Map" >
        delete from sc_gmuni_info_group where  create_people=#{createPeople,jdbcType=VARCHAR} and code =#{code,jdbcType=VARCHAR}
    </delete>

    <delete id="deletePeopleByGroup" parameterType="java.util.Map" >
        delete from sc_gmuni_group_people where create_people=#{createPeople,jdbcType=VARCHAR} and group_code=#{code,jdbcType=VARCHAR}
    </delete>

    <select id="getDeptName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT dept_id FROM  pf_gmuni_user  where code=#{userName,jdbcType=VARCHAR}
    </select>

    <select id="getDeptPartName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT deptId FROM  pf_gmuni_department_part dp inner join  pf_gmuni_user u on u.id=dp.userId where u.code=#{userName,jdbcType=VARCHAR}
    </select>

    <select id="getClass" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT subject_id AS subjectId,code,name FROM sc_gmuni_class WHERE subject_id IN
        <foreach collection="list" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>