<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.newsNotice.mapper.MessageMapper">

    <insert id="addInfo" parameterType="com.gmunidata.newsNotice.model.Info">
        insert into sc_gmuni_info (id,group_code,title,content,create_time,status,type,release_user,faculty) values
        (#{id,jdbcType=VARCHAR},#{groupCode,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{releaseUser,jdbcType=VARCHAR},#{faculty,jdbcType=VARCHAR})
    </insert>

    <select id="getStudentCode" parameterType="com.gmunidata.newsNotice.model.Info" resultType="java.lang.String">
       <if test="faculty == 'zy'">
           SELECT code  FROM sc_gmuni_student  WHERE dept_id =#{groupCode,jdbcType=VARCHAR} or subject_id=#{groupCode,jdbcType=VARCHAR}
       </if>
        <if test="faculty == 'bj'">
            SELECT code  FROM sc_gmuni_student  WHERE class_id =#{groupCode,jdbcType=VARCHAR}
        </if>
        <if test="faculty == 'group'">
            SELECT student_code as code  FROM sc_gmuni_group_people  WHERE group_code =#{groupCode,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="checkCode"  parameterType="com.gmunidata.newsNotice.model.Info" resultType="java.lang.Integer">
        select count(1) from sc_gmuni_info where group_code=#{groupCode,jdbcType=VARCHAR} and release_user =#{releaseUser,jdbcType=VARCHAR}
    </select>

    <select id="getListInfo" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT gi.id,d.name as deptName,c.name as className,ig.name as groupName,gi.group_code AS groupCode,gi.title,gi.content,gi.create_time AS createTime,gi.status,gi.type,gi.release_user AS releaseUser,gi.faculty as faculty FROM sc_gmuni_info gi
        left join pf_gmuni_department d on gi.group_code = d.code
        left join sc_gmuni_class c on gi.group_code = c.code
        left join sc_gmuni_info_group ig on gi.group_code = ig.code
        <where>
            <if test="releaseUser!=null and releaseUser!='' and releaseUser!='admin'">
                gi.release_user =#{releaseUser,jdbcType=VARCHAR}
            </if>
        <if test="groupCode!=null and groupCode!=''">
          and  gi.group_code like CONCAT('%',#{groupCode,jdbcType=VARCHAR},'%')
        </if>
        <if test="content!=null and content!=''">
         and  gi.content like CONCAT('%',#{content,jdbcType=VARCHAR},'%')
        </if>
        <if test="startTime!=null and startTime!=''">
            <![CDATA[
               and  DATE_FORMAT(gi.create_time , '%Y-%m-%d')>= #{startTime}
              ]]>
        </if>
        <if test="endTime!=null and endTime!=''">
            <![CDATA[
               and  #{endTime} >= DATE_FORMAT(gi.create_time , '%Y-%m-%d')
              ]]>
        </if>
        </where>
        ORDER BY gi.create_time desc

    </select>

    <select id="getReleaseUser" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT ui.username as name,d.name as deptName FROM pf_gmuni_userinfo ui INNER JOIN pf_gmuni_user u ON ui.user_id = u.id INNER JOIN  pf_gmuni_department d ON u.dept_id = d.ID WHERE ui.ID =#{releaseUser,jdbcType=VARCHAR}
    </select>

    <delete id="delInfo" parameterType="java.lang.String">
        delete from sc_gmuni_info where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateStatus" parameterType="java.util.Map">
        UPDATE sc_gmuni_info SET status=#{status,jdbcType=VARCHAR} where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>