<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmunidata.newsNotice.mapper.NoticeMapper">

    <insert id="add" parameterType="com.gmunidata.newsNotice.model.Notice">
        insert into sc_gmuni_notice(id,user_id,status,title,content,create_time,end_time,source,keywords,type,attachment,update_time,sort,top,description,image_ids)
        values
        (#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{source,jdbcType=VARCHAR},
        #{keywords,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{attachment,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},#{sort,jdbcType=DECIMAL},#{top,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},
        #{imageIds,jdbcType=VARCHAR})
    </insert>

    <insert id="addClick" parameterType="com.gmunidata.newsNotice.model.Click">
        insert into  sc_gmuni_update_click_through (id,article_id,click_through,type) values (#{id,jdbcType=VARCHAR},#{articleId,jdbcType=VARCHAR},0,#{type,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.gmunidata.newsNotice.model.Notice">
        update  sc_gmuni_notice set
          user_id=#{userId,jdbcType=VARCHAR},
          status=#{status,jdbcType=VARCHAR},
          title=#{title,jdbcType=VARCHAR},
          content=#{content,jdbcType=VARCHAR},
          source=#{source,jdbcType=VARCHAR},
          keywords=#{keywords,jdbcType=VARCHAR},
          attachment=#{attachment,jdbcType=VARCHAR},
          sort=#{sort,jdbcType=DECIMAL},
          top=#{top,jdbcType=VARCHAR},
          description=#{description,jdbcType=VARCHAR},
          image_ids=#{imageIds,jdbcType=VARCHAR},
          update_time=#{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="del" parameterType="java.lang.String">
        delete n,ct from sc_gmuni_notice n,sc_gmuni_update_click_through ct where n.id =ct.article_id and ct.article_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="list" parameterType="java.util.Map" resultType="com.gmunidata.newsNotice.model.Notice">
        select n.id AS id,n.user_id AS userId,n.status AS status,n.title AS title,n.create_time AS
        createTime,n.end_time AS endTime,
        n.source AS source,n.keywords AS keywords,n.type AS type,n.attachment AS attachment,n.update_time AS updateTime,
        n.sort AS sort,n.top AS top,n.description AS description,n.image_ids As imageIds,d.name AS deptName,ct.click_through AS clickThrough,u.name as  userName
        from sc_gmuni_notice n inner join sc_gmuni_update_click_through ct
        on ct.article_id = n.id and n.type = ct.type inner join pf_gmuni_user u on n.user_id = u.ID inner join
        pf_gmuni_department d on u.dept_id = d.ID
        <where>
            <if test="id!=null and id!=''">
                n.id =#{id,jdbcType=VARCHAR}
            </if>
            <if test="title!=null and title!=''">
               and n.title like CONCAT('%',#{title,jdbcType=VARCHAR} ,'%')
            </if>
            <if test="userName!=null and userName!=''">
                and u.name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
            <if test="startTime!=null and startTime!=''">
                <![CDATA[
               and  DATE_FORMAT(n.update_time , '%Y-%m-%d')>= #{startTime}
              ]]>
            </if>
            <if test="endTime!=null and endTime!=''">
                <![CDATA[
               and  #{endTime} >= DATE_FORMAT(n.update_time , '%Y-%m-%d')
              ]]>
            </if>
        </where>
        order by n.update_time desc
    </select>

    <select id="selectContent" parameterType="java.lang.String" resultType="java.lang.String">
        select content from  sc_gmuni_notice where id =#{id,jdbcType=VARCHAR}
    </select>


    <select id="listNotice" parameterType="java.util.Map" resultType="java.util.Map">
                            SELECT
                               n.id            AS id,
                               n.title         AS title,
                               n.update_time   AS updateTime,
                               n.description   AS description,
                               d.name          AS deptName
                               FROM sc_gmuni_notice n
                               LEFT JOIN sc_gmuni_update_click_through ct
                                      ON ct.article_id = n.id
                                       AND ct.type = n.type
                               LEFT JOIN pf_gmuni_user u
                                      ON n.user_id = u.ID
                               LEFT JOIN pf_gmuni_department d
                                      ON u.dept_id = d.ID
                               where  n.status ="1"
                              ORDER BY n.update_time DESC
    </select>
    <select id="lastNotice" parameterType="java.util.Map" resultType="java.util.Map">
                             SELECT n.id AS noticeId
                             FROM sc_gmuni_notice n
                             WHERE n.status = #{status,jdbcType=VARCHAR}
                             ORDER BY n.update_time ASC
                             LIMIT 0,1;
    </select>
    <select id="noticeById" parameterType="java.lang.String" resultType="java.util.Map">
                            SELECT
                               n.id            AS id,
                               n.user_id       AS userId,
                               n.title         AS title,
                               n.content       AS content,
                               n.source        AS source,
                               n.keywords      AS keywords,
                               n.description   AS description,
                               n.type          AS TYPE,
                               n.attachment    AS attachment,
                               n.update_time   AS updateTime,
                               n.sort          AS sort,
                               n.image_ids     AS imageIds,
                               ct.click_through AS clickThrough,
                               u.name          AS userName,
                               d.name          AS deptName
                               FROM sc_gmuni_notice n
                               LEFT JOIN sc_gmuni_update_click_through ct
                                      ON ct.article_id = n.id
                                       AND ct.type = n.type
                               LEFT JOIN pf_gmuni_user u
                                      ON n.user_id = u.ID
                               LEFT JOIN pf_gmuni_department d
                                      ON u.dept_id = d.ID
                               WHERE n.id =#{id,jdbcType=VARCHAR}
                               AND  n.status ="1"
    </select>

    <select id="listNoticeByInitDataFirstUpdateTime" parameterType="java.util.Map" resultType="java.util.Map">
                               SELECT
                               n.id            AS id,
                               n.title         AS title,
                               n.description   AS description,
                               n.update_time   AS updateTime,
                               d.name          AS dAeptName
                               FROM sc_gmuni_notice n
                               LEFT JOIN sc_gmuni_update_click_through ct
                                      ON ct.article_id = n.id
                                       AND ct.type = n.type
                               LEFT JOIN pf_gmuni_user u
                                      ON n.user_id = u.ID
                               LEFT JOIN pf_gmuni_department d
                                      ON u.dept_id = d.ID
                               WHERE   UNIX_TIMESTAMP(n.update_time) &gt; UNIX_TIMESTAMP(#{initDataFirstUpdateTime,jdbcType=TIMESTAMP})
                                AND  n.status ="1"
                              ORDER BY n.update_time DESC
    </select>
    <select id="listNoticeByInitDataLastUpdateTime" parameterType="java.util.Map" resultType="java.util.Map">
                              SELECT
                               n.id            AS id,
                               n.title         AS title,
                               n.description   AS description,
                               n.update_time   AS updateTime,
                               d.name          AS deptName
                               FROM sc_gmuni_notice n
                               LEFT JOIN sc_gmuni_update_click_through ct
                                      ON ct.article_id = n.id
                                       AND ct.type = n.type
                               LEFT JOIN pf_gmuni_user u
                                      ON n.user_id = u.ID
                               LEFT JOIN pf_gmuni_department d
                                      ON u.dept_id = d.ID
                               WHERE   UNIX_TIMESTAMP(n.update_time) &lt; UNIX_TIMESTAMP(#{initDataLastUpdateTime,jdbcType=TIMESTAMP})
                               AND  n.status ="1"
                              ORDER BY n.update_time DESC
    </select>

    <update id="updateStatus" parameterType="java.util.Map">
        update  sc_gmuni_notice set status=#{flag,jdbcType=VARCHAR} where id =#{id,jdbcType=VARCHAR}

    </update>
</mapper>