<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gmuni.enrollment.homepage.mapper.SlideShowMapper">
    <select id="list" resultType="java.util.Map">
        select t.id,t.module,t.articleId,t.sort,t.title,t.createTime,t.cover from
        (SELECT gs.id AS id, gs.module AS module, gs.article_id AS articleId,gs.sort AS sort, gc.title AS
        title,gc.create_time AS createTime,gc.cover AS cover
        FROM zs_gmuni_slideshow gs INNER JOIN zs_gmuni_content gc ON gs.article_id = gc.id
        where gs.module = gc.parent_code
        UNION ALL
        SELECT gs.id AS id, gs.module AS module, gs.article_id AS articleId,gs.sort AS sort, gp.title AS
        title,gp.create_time AS createTime,gp.cover AS cover
        FROM zs_gmuni_slideshow gs INNER JOIN zs_gmuni_post_news_regulations gp ON gs.article_id = gp.id
        where gs.module = gp.type
        ) t
        where 1 = 1
        <if test="id!=null and id != ''">
            and t.id = #{id}
        </if>
        order by t.sort
    </select>
    <select id="listArticle" resultType="java.util.Map">
        SELECT t.id,t.title,t.author,t.createTime,t.cover
        FROM (SELECT gc.id AS id,gc.title AS title,gc.author AS author, gc.create_time AS createTime,gc.cover AS
        cover,gc.`parent_code` AS module
        FROM zs_gmuni_content gc
        UNION ALL
        SELECT gp.id AS id,gp.title AS title,gp.author AS author,gp.create_time AS createTime,gp.cover AS cover, gp.type
        AS module
        FROM zs_gmuni_post_news_regulations gp
        ) t WHERE 1=1
        <if test="module!=null and module!=''">
            and t.module = #{module}
        </if>
        <if test="selectedId!=null and selectedId!=''">
            and t.selectedId = #{selectedId}
        </if>
    </select>
    <insert id="save" parameterType="java.util.Map">
        insert into zs_gmuni_slideshow(id,module,article_id,sort)
        values(#{id},#{module},#{articleId},#{sort})
    </insert>
    <update id="update" parameterType="java.util.Map">
        update zs_gmuni_slideshow set
        module = #{module},
        article_id = #{articleId},
        sort = #{sort} where id = #{id}
    </update>
    <update id="move" parameterType="java.util.Map">
        update zs_gmuni_slideshow set
        sort = #{sort} where id = #{id}
    </update>
    <delete id="delete" parameterType="java.util.Map">
        delete from  zs_gmuni_slideshow where id = #{id}
    </delete>
</mapper>
