<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmuni.sc.user.mapper.ThirdUserMapper">

    <resultMap id="BaseThirdPartUserInfo" type="cn.gmuni.sc.user.model.ThirdPartUserInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="identity_type" jdbcType="INTEGER" property="identityType"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="indentifier" jdbcType="VARCHAR" property="indentifier"/>
        <result column="credential" jdbcType="VARCHAR" property="credential"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="device_unique_id" jdbcType="VARCHAR" property="deviceUniqueId"/>
    </resultMap>

    <resultMap id="BaseThirdPartUser" type="cn.gmuni.sc.user.model.ThirdPartUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="weibo" jdbcType="VARCHAR" property="weibo"/>
        <result column="school" jdbcType="VARCHAR" property="school"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="faculty" jdbcType="VARCHAR" property="faculty"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="clazz" jdbcType="VARCHAR" property="clazz"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="identity_card" jdbcType="VARCHAR" property="identityCard"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="endpoint_token" jdbcType="VARCHAR" property="endpointToken"></result>
        <result column="endpoint_login_id" jdbcType="VARCHAR" property="endpointLoginId"></result>
        <result column="net_account" jdbcType="VARCHAR" property="netAccount"></result>
    </resultMap>

    <insert id="saveUser" parameterType="cn.gmuni.sc.user.model.ThirdPartUser">
        insert into sc_gmuni_thirdpart_user(id,phone_number,wechat,qq,email,weibo,school,student_id,
        faculty,subject,clazz,avatar,name,sex,birthday,identity_card,net_account)
        values(#{id,jdbcType=VARCHAR},#{phoneNumber,jdbcType=VARCHAR},#{wechat,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR}
        ,#{email,jdbcType=VARCHAR},#{weibo,jdbcType=VARCHAR},#{school,jdbcType=VARCHAR},#{studentId,jdbcType=VARCHAR}
        ,#{faculty,jdbcType=VARCHAR},#{subject,jdbcType=VARCHAR},#{clazz,jdbcType=VARCHAR},#{avatar,jdbcType=VARCHAR}
        ,#{name,jdbcType=VARCHAR} ,#{sex,jdbcType=VARCHAR} ,#{birthday,jdbcType=TIMESTAMP} ,#{identityCard,jdbcType=VARCHAR}
        ,#{netAccount,jdbcType=VARCHAR})
    </insert>
    <update id="updateUser" parameterType="cn.gmuni.sc.user.model.ThirdPartUser">
        update sc_gmuni_thirdpart_user
        <trim prefix="set" suffixOverrides=",">
         <if test="phoneNumber!=null and phoneNumber!=''">
          phone_number = #{phoneNumber,jdbcType=VARCHAR},
         </if>
        <if test="wechat!=null and wechat!=''">
            wechat = #{wechat,jdbcType=VARCHAR},
        </if>
        <if test="qq!=null and qq!=''">
            qq = #{qq,jdbcType=VARCHAR},
        </if>
        <if test="email!=null and email!=''">
            email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="weibo!=null and weibo!=''">
            weibo = #{weibo,jdbcType=VARCHAR},
        </if>
        <if test="school!=null and school!=''">
            school = #{school,jdbcType=VARCHAR},
        </if>
        <if test="studentId!=null and studentId!=''">
            student_id = #{studentId,jdbcType=VARCHAR},
        </if>
        <if test="faculty!=null and faculty!=''">
            faculty = #{faculty,jdbcType=VARCHAR},
        </if>
        <if test="subject!=null and subject!=''">
            subject = #{subject,jdbcType=VARCHAR},
        </if>
        <if test="clazz!=null and clazz!=''">
            clazz = #{clazz,jdbcType=VARCHAR},
        </if>
        <if test="avatar!=null and avatar!=''">
            avatar = #{avatar,jdbcType=VARCHAR},
        </if>
        <if test="name!=null and name!=''">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="sex!=null and sex!=''">
            sex = #{sex,jdbcType=VARCHAR},
        </if>
        <if test="birthday!=null and birthday!=''">
            sex = #{birthday,jdbcType=TIMESTAMP},
        </if>
        <if test="identityCard!=null and identityCard!=''">
            identity_card = #{identityCard,jdbcType=VARCHAR},
        </if>
        <if test="realName!=null and realName != ''">
          real_name = #{realName,jdbcType=VARCHAR},
        </if>
        <if test="password!=null and password != ''">
            password = #{password,jdbcType=VARCHAR},
        </if>
        <if test="endpointToken!=null and endpointToken != ''">
            endpoint_token = #{endpointToken,jdbcType=VARCHAR},
        </if>
        <if test="endpointLoginId!=null and endpointLoginId != ''">
            endpoint_login_id = #{endpointLoginId,jdbcType=VARCHAR},
        </if>
        <if test="netAccount!=null and netAccount != ''">
            net_account = #{netAccount,jdbcType=VARCHAR},
        </if>
        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <insert id="saveUserInfo" parameterType="cn.gmuni.sc.user.model.ThirdPartUserInfo">
        insert into sc_gmuni_thirdpart_userinfo(id,identity_type,user_id,indentifier,credential,token,device_unique_id)
        values(#{id,jdbcType=VARCHAR},#{identityType,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},#{indentifier,jdbcType=VARCHAR},
        #{credential,jdbcType=VARCHAR},#{token,jdbcType=VARCHAR},#{deviceUniqueId,jdbcType=VARCHAR})
    </insert>

    <select id="getUserInfo" parameterType="java.lang.String" resultMap="BaseThirdPartUserInfo">
        select id,identity_type,user_id,indentifier,credential,token,state,device_unique_id from sc_gmuni_thirdpart_userinfo
        where  indentifier = #{indentifier,jdbcType=VARCHAR}
    </select>

    <update id="updateUserInfo" parameterType="cn.gmuni.sc.user.model.ThirdPartUserInfo">
      update sc_gmuni_thirdpart_userinfo set
      credential = #{credential,jdbcType=VARCHAR} ,
       token = #{token,jdbcType=VARCHAR},
       state = #{state,jdbcType=VARCHAR}
       <if test="deviceUniqueId!=null and deviceUniqueId!=''">
           ,device_unique_id = #{deviceUniqueId,jdbcType=VARCHAR}
       </if>
       where  id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="listAllUserInfo" resultMap="BaseThirdPartUserInfo">
        select id,identity_type,user_id,indentifier,credential,token,state,device_unique_id from sc_gmuni_thirdpart_userinfo
    </select>

    <update id="logout" parameterType="cn.gmuni.sc.user.model.ThirdPartUserInfo">
        update sc_gmuni_thirdpart_userinfo
        set credential = null,
           token = null,
           state = '0'
           where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getUserById" parameterType="java.lang.String" resultMap="BaseThirdPartUser">
        select u.id,u.phone_number,u.wechat,u.qq,u.email,u.weibo,u.school,u.student_id,
        u.faculty,u.subject,u.clazz,u.avatar,u.name,u.sex,u.birthday,u.identity_card,c.name as school_name,
         u.real_name,u.endpoint_token,u.endpoint_login_id,u.net_account
         from sc_gmuni_thirdpart_user u
         left join sc_gmuni_college_info c on u.school = c.code
         where u.id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="listAllUser" resultMap="BaseThirdPartUser">
        select u.id,u.phone_number,u.wechat,u.qq,u.email,u.weibo,u.school,u.student_id,
        u.faculty,u.subject,u.clazz,u.avatar,u.name,u.sex,u.birthday,u.identity_card,c.name as school_name,u.net_account from sc_gmuni_thirdpart_user u
         left join sc_gmuni_college_info c on u.school = c.code
    </select>
</mapper>