<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmuni.sc.wallet.mapper.PayDetailMapper">

<select id="getPayDetailCount" parameterType="java.util.Map" resultType="java.util.Map">
    select
    wr.amount AS amount,
    wr.account AS account,
    wr.pay_time AS payTime,
    wr.create_time AS createTime,
    wr.end_time AS endTime,
    wr.status AS status,
    wr.order_number AS orderNumber,
    wr.series_number AS seriesNumber,
    wr.remark AS remark,
    wr.pay_mode AS payMode,
    wr.error_code AS errorCode,
    ci.name AS schoolName
    FROM
    sc_gmuni_wallet_recharge wr
    LEFT JOIN sc_gmuni_thirdpart_userinfo tu
    ON wr.account = tu.indentifier
    LEFT JOIN sc_gmuni_thirdpart_user tus
    ON tu.user_id = tus.id
    LEFT JOIN sc_gmuni_college_info ci
    ON ci.code =tus.school
    <where>
    <if test="schoolCode != null and schoolCode!=''">
        and ci.school_code =#{schoolCode,jdbcType=VARCHAR}
    </if>
    <if test="account != null and account != ''">
        and  wr.account like CONCAT('%',#{account,jdbcType=VARCHAR},'%')
    </if>
    <if test="startTime != null and startTime != ''">
        <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')>=#{startTime}
              ]]>
    </if>
    <if test="endTime != null and endTime != ''">
        <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')<=#{endTime}
              ]]>
    </if>
  </where>
    order by wr.end_time desc
    </select>
    
    <select id="getShowChart" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
  SUM(amount) AS mon,
  schoolName
FROM
  (SELECT
    wr.amount AS amount,
    ci.name AS schoolName
  FROM
    sc_gmuni_wallet_recharge wr
    LEFT JOIN sc_gmuni_thirdpart_userinfo tu
      ON wr.account = tu.indentifier
    LEFT JOIN sc_gmuni_thirdpart_user tus
      ON tu.user_id = tus.id
    LEFT JOIN sc_gmuni_college_info ci
      ON ci.code = tus.school
  WHERE wr.status = '2'
        <if test="startTime != null and startTime != ''">
            <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')>=#{startTime}
              ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')<=#{endTime}
              ]]>
        </if>
        <if test="date != null  and date !=''">
            <if test="date == 0">
                <![CDATA[
                    and  TO_DAYS(wr.end_time ) = TO_DAYS(NOW())
                    ]]>
            </if>
            <if test="date == 1">
                <![CDATA[
                    and  DATE_SUB(CURDATE(), INTERVAL 7 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
            <if test="date == 2">
                <![CDATA[
                    and DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
            <if test="date == 3">
                <![CDATA[
                    and DATE_SUB(CURDATE(), INTERVAL 90 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
        </if>
  ) temp
GROUP BY temp.schoolName
    </select>

    <select id="getShowList" parameterType="java.util.Map" resultType="java.util.Map">
            SELECT
            SUM(wr.amount) AS mon,
            DATE_FORMAT(wr.end_time,'%Y-%m-%d') AS time
            FROM
            sc_gmuni_wallet_recharge wr
        <if test="schoolCode != null and schoolCode!=''">
            LEFT JOIN sc_gmuni_thirdpart_userinfo tu
            ON wr.account = tu.indentifier
            LEFT JOIN sc_gmuni_thirdpart_user tus
            ON tu.user_id = tus.id
        </if>
            WHERE wr.status = '2'
        <if test="startTime != null and startTime != ''">
            <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')>=#{startTime}
              ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
               and  DATE_FORMAT(wr.end_time,'%Y-%m-%d')<=#{endTime}
              ]]>
        </if>
        <if test="date != null  and date !=''">
            <if test="date == 1">
                <![CDATA[
                    and  DATE_SUB(CURDATE(), INTERVAL 7 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
            <if test="date == 2">
                <![CDATA[
                    and DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
            <if test="date == 3">
                <![CDATA[
                    and DATE_SUB(CURDATE(), INTERVAL 90 DAY) <= DATE(wr.end_time)
                    ]]>
            </if>
        </if>
        <if test="schoolCode != null and schoolCode!=''">
        AND tus.school=#{schoolCode,jdbcType=VARCHAR}
        </if>
            GROUP BY DATE_FORMAT(wr.end_time,'%Y-%m-%d')
    </select>

</mapper>