<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmuni.sc.wallet.mapper.WalletMapper">

    <resultMap id="BaseWallet" type="cn.gmuni.sc.wallet.model.Wallet">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="pwd" jdbcType="INTEGER" property="pwd"/>
        <result column="amount" jdbcType="VARCHAR" property="amount"/>
        <result column="school_code" jdbcType="VARCHAR" property="schoolCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
    </resultMap>

    <select id="selectByUserCode" resultMap="BaseWallet" parameterType="java.lang.String">
        select id,pwd,amount,school_code,create_time,update_time,user_code from sc_gmuni_wallet
        where user_code = #{userCode,jdbcType=VARCHAR}
    </select>
    <insert id="saveInfo" parameterType="cn.gmuni.sc.wallet.model.Wallet">
        insert into sc_gmuni_wallet(id,pwd,amount,school_code,create_time,update_time,user_code )
        values(#{id,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},#{amount,jdbcType=DECIMAL},#{schoolCode,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{userCode,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="saveRechargeInfo" parameterType="cn.gmuni.sc.wallet.model.WalletRecharge">
        insert into sc_gmuni_wallet_recharge(id,amount,account,
        pay_time,create_time,end_time,
        status,order_number,series_number,
        remark,pay_mode,error_code)
        values(#{id,jdbcType=VARCHAR},#{amount,jdbcType=VARCHAR},#{account,jdbcType=VARCHAR},
            #{payTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},
            #{status,jdbcType=VARCHAR},#{orderNumber,jdbcType=VARCHAR},#{seriesNumber,jdbcType=DECIMAL},
             #{remark,jdbcType=VARCHAR},#{payMode,jdbcType=VARCHAR},#{errorCode,jdbcType=DECIMAL}
        )
    </insert>
    <update id="addWalletMoney" parameterType="java.util.Map">
        UPDATE sc_gmuni_wallet SET amount = (amount + #{amount,jdbcType=DECIMAL}),update_time=#{updateTime,jdbcType=TIMESTAMP} WHERE user_code = #{userCode,jdbcType=VARCHAR}
    </update>
    <update id="updateRechargeInfo" parameterType="cn.gmuni.sc.wallet.model.WalletRecharge">
        update sc_gmuni_wallet_recharge set
        status =  #{status,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getRechargeRecord" parameterType="java.lang.String" resultType="java.util.Map">
      select pay_mode as payMode,DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%s') as endTime,amount  from sc_gmuni_wallet_recharge where status = '2' and  account=#{account,jdbcType=VARCHAR}
    </select>

    <select id="getConsumeRecord" parameterType="java.lang.String" resultType="java.util.Map">
      select title,DATE_FORMAT(end_time,'%Y-%m-%d %H:%i:%s') as endTime,amount from sc_gmuni_wallet_payment where status = '2' and  buyer_id=#{buyerId,jdbcType=VARCHAR}
    </select>

    <select id="getByNotifyId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from sc_gmuni_pay_log_ali where notify_id = #{notifyId,jdbcType=TIMESTAMP}
    </select>

    <select id="getByOutTradeNo" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from sc_gmuni_pay_log_ali where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
    </select>
    <insert id="saveAliPayInfo" parameterType="java.util.Map">
        insert into sc_gmuni_pay_log_ali (notify_time,notify_type,notify_id,app_id,charset,version,sign_type,
        sign,trade_no,out_trade_no,out_biz_no,buyer_id,buyer_logon_id,seller_id,seller_email,trade_status,total_amount,
        receipt_amount,invoice_amount,buyer_pay_amount,point_amount,refund_fee,subject,body,gmt_create,gmt_payment,
        gmt_refund,gmt_close,fund_bill_list,passback_params,voucher_detail_list)
        values (#{notify_time,jdbcType=TIMESTAMP},#{notify_type,jdbcType=VARCHAR},#{notify_id,jdbcType=VARCHAR},#{app_id,jdbcType=VARCHAR},#{charset,jdbcType=VARCHAR},
        #{version,jdbcType=VARCHAR},#{sign_type,jdbcType=VARCHAR},#{sign,jdbcType=VARCHAR},#{trade_no,jdbcType=VARCHAR},#{out_trade_no,jdbcType=VARCHAR},
        #{out_biz_no,jdbcType=VARCHAR},#{buyer_id,jdbcType=VARCHAR},#{buyer_logon_id,jdbcType=VARCHAR},#{seller_id,jdbcType=VARCHAR},#{seller_email,jdbcType=VARCHAR},
        #{trade_status,jdbcType=VARCHAR},#{total_amount,jdbcType=DECIMAL},#{receipt_amount,jdbcType=DECIMAL},#{invoice_amount,jdbcType=DECIMAL},#{buyer_pay_amount,jdbcType=DECIMAL},
        #{point_amount,jdbcType=DECIMAL},#{refund_fee,jdbcType=DECIMAL},#{subject,jdbcType=VARCHAR},#{body,jdbcType=VARCHAR},#{gmt_create,jdbcType=TIMESTAMP},
        #{gmt_payment,jdbcType=TIMESTAMP},#{gmt_refund,jdbcType=TIMESTAMP},#{gmt_close,jdbcType=TIMESTAMP},#{fund_bill_list,jdbcType=VARCHAR},#{passback_params,jdbcType=VARCHAR},
        #{voucher_detail_list,jdbcType=VARCHAR})
    </insert>

    <insert id="saveBlowerPayment" parameterType="cn.gmuni.sc.wallet.model.WalletPayment">
        INSERT INTO sc_gmuni_wallet_payment(id,amount,buyer_id,seller_id,payment_type,status,sign,title,remark,
        create_time,pay_time,end_time,order_number,serial_number,error_code,trade_balance,pay_mode) VALUES(
        #{id,jdbcType=VARCHAR},#{amount,jdbcType=DECIMAL},#{buyerId,jdbcType=VARCHAR},
            #{sellerId,jdbcType=VARCHAR},#{paymentType,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
            #{sign,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},#{payTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},
            #{orderNumber,jdbcType=VARCHAR},#{seriesNumber,jdbcType=VARCHAR},#{errorCode,jdbcType=VARCHAR},
            #{tradeBalance,jdbcType=DECIMAL},#{payMode,jdbcType=VARCHAR})
    </insert>

    <update id="updatePayment" parameterType="cn.gmuni.sc.wallet.model.WalletPayment">
        update sc_gmuni_wallet_payment set
        status =  #{status,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>