html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
}

.net_record_info{
    padding:0 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.net_record_info_item{
    font-size:14px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.net_record_info_item:first-child{
    padding-top: 20px;
}

.net_record_info_item:last-child{
    padding-bottom: 20px;
}

.net_record_info_label{
    color: #333333;
}

.net_record_info_value{
    color: #ff4800;
    float: right;
}

.net_record_list{

}

.net_record_item{
    background-color: #ffffff;
    display: flex;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.net_record_item:not(:last-child){
    border-bottom: 1px solid #f2f0f7;
}

.net_record_item span{
    color: #666666;
    font-size: 14px;
}

.net_record_item_time{

}
