*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}

.net_stop_wrap{
    background-color: #ffffff;
}

.net_stop_item{
    display: flex;
    line-height: 48px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 14px;
    color: #333333;
}

.net_stop_item:not(:last-child){
    border-bottom: 1px solid #f2f0f7;
}

.net_stop_status{
    color: #ff4800;
}

.net_stop_buttons{
    position: absolute;
    bottom: 0;
    height: 48px;
    width: 100%;
    background:linear-gradient(left,#45d7b7,#27d0ae);
    background:-webkit-linear-gradient(left,#45d7b7,#27d0ae);
    color: #ffffff;

}

.net_stop_buttons button{
    width: calc(50% - 1px);
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    float: left;
    position: relative;
    background-color: transparent;
    color: #ffffff;

}

.net_stop_buttons button:first-child::after{
    content: "";
    width: 1px;
    height: 30px;
    background: #3deac6;
    position: absolute;
    top: 9px;
    right: 0;
}
