html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
}

.net_pay_detail_month{
    width:100%;
}

.net_pay_detail_title{
    padding:13px 9px 13px 10px;
}

.net_pay_detail_title span{
    font-size: 14px;
    color: #333333;
}

.net_pay_detail_title span::before{
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 2px;
    height: 16px;
    background-color: #27d0ae;
    vertical-align: sub;
}

.net_pay_detail_item{
    background: #fff;
    padding: 13px 10px 13px 9px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    color: #333333;
}


.net_pay_detail_info{
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.net_pay_detail_label{
    display: block;
    margin-bottom:5px;
}

.net_pay_detail_money{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
}

.net_pay_detail_cut_line{
    background-color: #f2f0f7;
    height:1px;
    width:100%;
}
.net_pay_detail_time{
    color:#999999;
    font-size: 11px;
}
.net_pay_detail_label{
    font-size: 14px;
}
