*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}

.net_pay_success_wrap{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.net_pay_success_icon{
    display: block;
    margin: 25px auto 14px auto;
    width: 45px;
}

.net_pay_success_label{
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
    display: block;
}

.net_pay_success_money{
    color: #333333;
    font-size: 30px;
    margin-bottom: 65px;
    display: block;
}

.net_pay_success_way{
    font-size: 14px;
    display: flex;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color: #333333;
    background-color: #ffffff;
    margin-bottom: 16px;
}

.net_pay_success_way span:first-child{
    color: #999999;
}