*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}

.net_sub_record_month{
    background-color: #ffffff;
}

.net_sub_record_title{
    height: 39px;
    display: flex;
    line-height: 39px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #f2f0f7;
}

.net_sub_record_title_time::before{
    content: '';
    height: 16px;
    width: 2px;
    background: #27d0ae;
    display: inline-block;
    vertical-align: sub;
    margin-right: 4px;
}

/*有效*/
.net_sub_record_title_efficacy{
    color: #ff4800;
}

.net_sub_record_info{
    padding-left: 10px;
    font-size: 14px;
    margin-top: 12px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.net_sub_record_time{
    margin-bottom: 10px;
    color: #666666;
}

.net_sub_record_content{
    color: #333333;
}