*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}

.net_history_bill_year{
    text-align: center;
    height: 48px;
    line-height: 48px;
    background-color: #ffffff;
    margin-bottom: 1px;
}

.net_history_bill_year div{
    display: inline-block;
    position: relative;
}

.net_history_bill_year select{
    border: none;
    font-size: 16px;
    color: #333;
    -webkit-appearance: none;
    background: transparent;
    height: 100%;
    width: 40px;
}

.net_history_bill_year div::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-right: 1px solid;
    border-bottom: 1px solid;
    position: absolute;
    top: 17px;
    right: -15px;
}




.net_history_bill_info{
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;

}

.net_history_bill_info_row{
    overflow: hidden;
}

.net_history_bill_info_item{
    text-align: center;
    /*margin-top: 24px;*/
    /*margin-bottom: 9px;*/
    box-sizing: border-box;
    width: 50%;
    float: left;
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom:9px;
}

.net_history_bill_info_item:nth-last-child(even){
    border-right: 1px solid #f2f0f7;
}

.net_history_bill_info_row:first-child .net_history_bill_info_item:first-child,
.net_history_bill_info_row:first-child .net_history_bill_info_item:nth-child(2){
    border-bottom: 1px solid #f2f0f7;
    padding-bottom: 24px;
    padding-top: 9px;
}


.net_history_bill_info_value{
    font-size: 18px;
    color: #ff4800;
    margin-bottom: 10px;
    display: block;
}

.net_history_bill_info_text{
    font-size: 14px;
    color: #666666;
}

.net_history_bill_list{

}

.net_history_bill_item{

}


.net_history_bill_item{
    display: flex;
    line-height: 48px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
}

.net_history_bill_item:not(:last-child){
    border-bottom: 1px solid #f2f0f7;
}