html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
}

.net_record_detail_wrap{
    background-color: #ffffff;
}

.net_record_detail_item{
    height: 48px;
    display: flex;
    line-height: 48px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 14px;
    color: #333333;

}

.net_record_detail_item:not(:last-child){
    border-bottom: 1px solid #f2f0f7;
}

.net_record_detail_item_label{

}

.net_record_detail_item_value{

}