*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}


.wrap{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 22px 15px;
}

.card_pay_success_title{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    display: block;
}

.card_pay_success_money{
    margin-bottom: 46px;
    font-size: 30px;
    color: #333333;
    text-align: center;
    display: block;
}

.card_pay_success_method{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.card_pay_success_method span:first-child{
    color: #999999;
}


.card_pay_success_method span:last-child{
    color: #333333;
}
