*{
    outline: none;
}
html,body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f2f0f7;
    position: relative;
}

.wrap{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 22px 15px;
}

.school_card_label{
    padding-left: 10px;
    font-size: 16px;
    color: #333333;
    display: block;
}

.school_card_pay{
    border-bottom: 1px solid #f2f0f7;
    padding-top: 34px;
    padding-bottom: 16px;
    vertical-align: middle;
}

.school_card_pay{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;

}
.school_card_pay span{
    padding-right: 5px;
    font-size: 32px;
    color: #333333;
    float: left;
}

.school_card_input{
    border: none;
    font-size: 34px;
    color: #333333;
    flex-grow: 1;
}

/*修改光标颜色，但不修改文字颜色*/
.school_card_input:focus{
    color:#b3efe2;
    text-shadow: 0px 0px 0px #333333;
    -webkit-text-fill-color: transparent;
}

.school_card_btn{
    width: 100%;
    height: 48px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgb(44,209,175);
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
}

.school_card_btn:disabled{
    background-color: rgba(44,209,175,.4);
}